<div class="footer">
    <div class="container">

      <div class="row">
          <div class="col-md-2 footer-custom-div col-sm-5">
            <div class="member1">
              <h4>Quick Links</h4>
             <a routerLink="/about-us" href="/#/about-us" class="footer-nav-link"><p>About Us</p></a>
             <!--<a routerLink="/about-us" href="/#/about-us" class="footer-nav-link"><p>Management Team</p></a>
             <a routerLink="/about-us" href="/#/about-us" class="footer-nav-link"><p>SYU Authors </p></a>
             <a routerLink="/about-us" href="/#/about-us" class="footer-nav-link"><p>Careers</p></a>-->
             <a routerLink="/faq" href="/#/faq" class="footer-nav-link"><p>FAQs</p></a>
             <a class="footer-nav-link" routerLink="/contact-us" href="/#/contact-us"><p>Contact Us</p></a>
             <a class="footer-nav-link" routerLink="/services" href="/#/services"><p>Services</p></a>
             <a class="footer-nav-link" routerLink="/disclaimer" href="/#/disclaimer"><p>Disclaimer</p></a>
             <a class="footer-nav-link" routerLink="/privacy" href="/#/privacy"><p>Privacy</p></a>
            </div>
          </div>
          <div class="col-md-2 footer-custom-div col-sm-5">
           <div class="member1">
             <h4><a href="" class="footer-nav-header" routerlink="/exams">Exams</a></h4>
             <a class="footer-nav-link"   routerLink="/exams/neet-pg-exam"><p>NEET PG</p></a>
             <a class="footer-nav-link"   routerLink="/exams/neet-ug-exam"><p>NEET UG</p></a>
             <a class="footer-nav-link"   routerLink="/exams/fmge-exam"><p>NEXT</p></a>
             <a class="footer-nav-link"   routerLink="/exams/international-foundation-of-medicine-ifom"><p>IFOM</p></a>
           </div>
         </div>
         <div class="col-md-2 footer-custom-div col-sm-5">
           <div class="member1">
             <h4>Courses</h4>
             <a class="footer-nav-link"  routerLink="/course/mbbs-in-russia"><p>MBBS in Russia</p></a>
             <a class="footer-nav-link"  routerLink="/course/mbbs-in-georgia"><p>MBBS in Georgia</p></a>
             <a class="footer-nav-link"  routerLink="/course/mbbs-in-kyrgyzstan"><p>MBBS in Kyrgyzstan</p></a>
             <a class="footer-nav-link"  routerLink="/course/mbbs-in-kazakhstan"><p>MBBS in Kazakhstan</p></a>
             <a class="footer-nav-link"  routerLink="/course/mbbs-in-nepal"><p>MBBS in Nepal</p></a>
             <a class="footer-nav-link"  routerLink="/course/mbbs-in-philippines"><p>MBBS in Phillippines</p></a>
             <a class="footer-nav-link"  routerLink="/course/mbbs-in-uzbekistan"><p>MBBS in Uzbekistan</p></a>
           </div>
         </div>
         <div class="col-md-2 footer-custom-div col-sm-5">
          <div class="member1">

            <!-- 
            {
              path: 'study-in-australia',
              loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
            },
            {
              path: 'study-in-usa',
              loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
            },  {
              path: 'study-in-poland',
              loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
            },  {
              path: 'study-in-belarus',
              loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
            },  {
              path: 'study-in-russia',
              loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
            },
            {
              path: 'study-in-china',
              loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
            },
            {
              path: 'study-in-ukraine',
              loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
            },  {
              path: 'study-in-ireland',
              loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
            },  {
              path: 'study-in-uk',
              loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
            },  {
              path: 'study-in-canada',
              loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
            }, -->


            <h4>Top Countries</h4>
            <a class="footer-nav-link"  routerLink="/study-in-australia"><p> Study in Australia</p></a>
            <a class="footer-nav-link"  routerLink="/study-in-usa"><p>  Study in USA</p></a>
            <a class="footer-nav-link"  routerLink="/study-in-ireland"><p>  Study in Ireland</p></a>
            <a class="footer-nav-link"  routerLink="/study-in-belarus"><p> Study in Belarus</p></a>
            <a class="footer-nav-link"  routerLink="/study-in-russia"><p> Study in Russia</p></a>
            <a class="footer-nav-link"  routerLink="/study-in-china"><p>   Study in China</p></a>
            <a class="footer-nav-link"  routerLink="/study-in-ukraine"><p>Study in Ukraine</p></a>
            <a class="footer-nav-link"  routerLink="/study-in-poland"><p>   Study in Poland</p></a>
            <a class="footer-nav-link"  routerLink="/study-in-canada"><p>  Study in Canada</p></a>
            <a class="footer-nav-link"  routerLink="/study-in-uk"><p>  Study in UK</p></a>
          </div>
        </div>
        <!--<div class="col-md-2 footer-custom-div col-sm-5">
          <div class="member1">
            <h4>Countries</h4>
            <p>Study in USA</p>
            <p>Study in Canada</p>
            <p>Study in Australia</p>
            <p>Study in UK</p>
            <p>Study in New Zealand</p>
            <p>Study in France</p>
            <p>Study in Ireland</p>
            <p>Study in Germany</p>
            <p>Explore all countries</p>
          </div>
        </div>-->

        <!--<div class="col-md-2 footer-custom-div col-sm-5">
          <div class="member1">
            <h4><a href="" class="footer-nav-header" routerlink="/exams">Exams</a></h4>
            <p>GMAT</p>
            <p>GRE</p>
            <p>IELTS</p>
            <p>PTE</p>
            <p>SAT</p>
            <p>TOEFL</p>
            <p>Which exam to give?</p>
            <p>IELTS v/s TOEFL v/s PTE?</p>
          </div>
        </div>-->

        <!--<div class="col-md-2 footer-custom-div col-sm-5">
          <div class="member1">
            <h4>Colleges</h4>
            <p>MBA Colleges</p>
            <p>MS Colleges</p>
            <p>BE/BTech Colleges</p>
            <p>BBA Colleges</p>
            <p>Masters in Hospitality</p>
            <p>Masters in Journalism</p>
          </div>
        </div>


        <div class="col-md-2 footer-custom-div col-sm-5">
          <div class="member1">
            <h4>Apply</h4>
            <p>SYU Counseling Service</p>
            <p>SOP</p>
            <p>SOP Samples</p>
            <p>LOR</p>
            <p>LOR Samples</p>
            <p>Student Visa</p>
            <p>Admission Essays</p>
          </div>
        </div>-->

      </div>
    </div>
  </div>


 
  <div class="footer3">
    <div class="container">

      <div class="row">
        <div class="col-md-2 col-sm-5">
          <div class="member1">
               <a href="" class="nav-link" routerlink="/home" >
                   <img src="../../assets/img/Home Page/7. Footer/SYU-Logo.png" alt="" width="150" class="d-inline pt-3 ml-0">
              </a>
          </div>
        </div>

        <div class="col-md-3 col-sm-5 pt-4">
          <div class="contact-details">
            <h4>
             <!-- <i class="fa fa-phone left-icon"></i> -->
               <a href="tel:+919555120101"> <img src="../../assets/img/Phone.png" width="20" class="footer-img">  +91 9555120101</a> 
           </h4>
           <h4>
             <!-- <i class="fa fa-envelope left-icon"></i> -->
             <a href="mailto:info@selectyouruniversity.com"> <img src="../../assets/img/Mail (1).png" width="20" class="footer-img"> info@selectyouruniversity.com</a>

          </h4>
            <!-- <input type="text" placeholder="Your Email Id Here" class="d-inline getintouch-textbox bg-white" > -->
          </div>
        </div>

        <div class="col-md-3 col-sm-5 pt-4">
          <div class="contact-details">
           
                 <!-- <i class="fas fa-map-marker-alt left-icon"></i> -->
                
                     <div class="white-text-2 add-div d-flex">
                       <!-- <i class="fas fa-map-marker-alt left-icon"></i> -->
                       <img src="../../assets/img/Address (1).png" width="20" class="footer-img"> 
                       <div class="add">3FCS-05, Ansal plaza, opposite Dabur Chowk,
                         Sector-1, Near- Income Tax Office,
                         Vaishali, Ghaziabad, Uttar Pradesh - 201010</div>
                     </div>
          </div>
        </div>


        <div class="col-md-4 col-sm-5 text-center pt-4">
          <div class="follow-us-div">
            <h4>Follow Us</h4>
            <a href=" https://www.facebook.com/SelectyouruniversityIndia/" target="_blank" class=" white-text-2">
              <img src="../../assets/img/Home Page/7. Footer/Follow us/Facebook.png" width="20">
            </a>  
            <a href=" https://youtube.com/c/SelectYourUniversity" target="_blank" class=" white-text-2">
              <img src="../../assets/img/Home Page/7. Footer/Follow us/You-Tube.png" width="20">
            </a>
            <a href="https://api.whatsapp.com/send?phone=+919555120101%20&text=I%20want%20to%20apply%20for%20the%20current%20intake%20of%20UG/PG%20courses%20in%20India%20or%20Abroad" class=" white-text-2">
              <img src="../../assets/img/Home Page/7. Footer/Follow us/Whats-App.png" width="20" >
            </a>
            <a href=" https://www.instagram.com/selectyouruniversity/" target="_blank" class=" white-text-2">
              <img src="../../assets/img/Home Page/7. Footer/Follow us/Instagram.png" width="20" >
            </a> 
            <a href="https://in.pinterest.com/selectyouruniversity/" target="_blank" class=" white-text-2">
              <img src="../../assets/img/Home Page/7. Footer/Follow us/Pinterest.png" width="20" >
            </a>  
            <a href=" https://twitter.com/mbbsconsultant" target="_blank" class=" white-text-2">
              <img src="../../assets/img/Home Page/7. Footer/Follow us/Tweeter.png" width="20" >
            </a>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="footer4">
    <div class="container">

      <div class="row">
        <!-- <div class="col-lg-12"> -->
        <!--<div class="col-md-5 col-sm-5">
          <div class="member1 white-text-2 pt-2">
            <p style="font-size: 9px;">Grievances • Notices/Summons • Privacy • Terms & Conditons</p>

          </div>
        </div>-->

        <div class="col-md-7 col-sm-5 ">
          <div class="member1 white-text-2 pt-2 text-right">
            <p style="font-size: 9px;">Select Your University © 2022-23. All Rights Reserved.</p>
          </div>
        </div>


      </div>
    </div>
  </div>