
<section class="study-abroad">
    <div class="study-abroad-banner">
        <div class="col-12">
            <div class="study-abroad-header text-center">
                <h2 class="white-text-2 mb-0">Study Abroad</h2>
                <div class="title">
                    <h6 class="title-text white-text-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</h6>
                </div>
                <div class="col-12">
                    <div class="row row-without-gutter">
                        <form class="exam-page-form d-block mx-auto" action="">
                            <div class="flex-div1">
                                <select name="filter" class="select-filter">
                                                  <option value="location">Location</option>
                                                  <option value="Fees" >Fees</option>
                                                  <option value="location">Location</option>
                                                  <option value="Fees">Fees</option>
                                                </select>
                                <input type="text" placeholder="Enter Course, College or Exam" name="search2">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>

                        </form>
                    </div>

                </div>
                <div class="col-lg-12">
                    <div class="row row-without-gutter">
                        <div class="col-12">
                            <div class="flex-div">
                                <p class="d-inline white-text-2 cust-padding mb-0">Top Countries:</p>
                                <div class="pill-div-course">America</div>
                                <div class="pill-div-course">Australia</div>
                                <div class="pill-div-course">France</div>
                                <div class="pill-div-course">Indonesia</div>
                                <div class="pill-div-course">Germany</div>
                                <div class="pill-div-course">Spain</div>
                                <div class="pill-div-course">Canada</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12">
                    <div class="row row-without-gutter">
                        <div class="col-12">
                            <div class="flex-div">
                                <button class="btn btn-orange white-text-2">Read More<img src="../../assets/img/Study_Abroad_Icons/1.Header/Raed More.png" width="20" alt="" class="pl-3"></button>
                                <button class="btn btn-orange white-text-2">Apply Now<img src="../../assets/img/Study_Abroad_Icons/1.Header/Apply-now.png" width="20" alt="" class="pl-3"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-12 below-banner">
        <div class="row row-without-gutter">
            <div class="col-lg-4 col-sm-4 col-12 right-white-border p-4">
                <h2 class="text-orange text-center">700+</h2>
                <h5 class="py-3 text-center">Global University Tie Ups</h5>
                <p class="text-justify">Our students aren’t just pursuing their higher education, but their dreams and ambitions in eminent universities across the globe</p>
            </div>
            <div class="col-lg-4 col-sm-4 col-12 right-white-border p-4">
                <h2 class="text-blue text-center">60+</h2>
                <h5 class="py-3 text-center">Offices across the Globe</h5>
                <p class="text-justify">We’re growing, we’re expanding and we’re doing that fast! Join the fastest growing EdTech brand in South and South-East Asia.</p>
            </div>
            <div class="col-lg-4 col-sm-4 col-12 p-4">
                <h2 class="light-blue-text text-center">10+</h2>
                <h5 class="py-3 text-center">Offices across the Globe</h5>
                <p class="text-justify">With over two decades of industry expertise, we know what’s best for you and that makes us really good at what we do!</p>
            </div>

        </div>
    </div>
    <div class="col-lg-12 light-gray-bg">
        <div class="row row-without-gutter bg-white my-2 pb-4 rounded-border">
            <div class="col-12">
                <div class="bg-white p-2">
                    <div class="row row-without-gutter text-center">
                        <div class="col-12">
                            <h3 class="light-blue-text">We Match Students With</h3>
                            <h3 class="light-blue-text">Universities All Over The World</h3>
                            <p>Over 400 universities in 30 countries</p>
                        </div>
                    </div>
                    <div class="row row-without-gutter text-center">
                        <img src="../../assets/img/map.webp" alt="" class="map-img">
                    </div>
                    <div class="row row-without-gutter">
                        <div class="img-holder ">
                            <img src="../../assets/img/Study_Abroad_Icons/2.We_Match_Student/1.png" alt="">
                            <img src="../../assets/img/Study_Abroad_Icons/2.We_Match_Student/2.png" alt="">
                            <img src="../../assets/img/Study_Abroad_Icons/2.We_Match_Student/3.png" alt="">
                            <img src="../../assets/img/Study_Abroad_Icons/2.We_Match_Student/5.png" alt="">
                            <img src="../../assets/img/Study_Abroad_Icons/2.We_Match_Student/4.png" alt="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-without-gutter bg-white my-3">
            <div class="col-lg-12 bg-white pb-2 rounded-border">
                <div class="col-lg-12 text-center">
                    <h3 class="light-blue-text py-4">How SYU Can Help You?</h3>
                </div>
                <div class="col-lg-12">
                    <img src="../../assets/img/Study_Abroad_Icons/3.How_SYU/Untitled-1.png" alt="" class="syu-help-img">
                </div>
                <div class="col-lg-12 pt-4">
                    <div class="row row-without-gutter">
                        <div class="col-lg-4 col-sm-4 col-12 text-center">
                            <h6>Find Your Best Matches</h6>
                            <p class="w-50 d-block mx-auto">See programs that best match your eligibility and aspirations</p>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-12 text-center">
                            <h6>Application guidance</h6>
                            <p class="w-50 d-block mx-auto">We'll get you to the right place to start your application</p>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-12 text-center">
                            <h6>Visa & travel advice</h6>
                            <p class="w-50 d-block mx-auto">Get help after application, all the way to your first day at university</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-12 text-center">
                    <button class="btn btn-orange white-text-2">Talk to Expert</button>

                </div>
            </div>

        </div>
        <div class="row row-without-gutter bg-white my-2 rounded-border">
            <div class="col-12">
                <div class=" mt-4 study-destination-div bg-white">
                    <div class="container">
                        <h2 class="mb-4 light-blue-text text-center"><b>Study Destination</b></h2>


                        <owl-carousel id="slider2" [options]="carouselOptions2" [items]="images2" [carouselClasses]="['owl-theme', 'sliding','slider2']">
                            <div class="item study-div" *ngFor="let image of images2;let i= index">
                                <div class=" border mx-3 ">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-12 col-6">
                                            <div class="text-center">
                                                <img src="{{image.image}}" class="pt-3 mx-auto " style="width:40%" />
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-12 pt-2 col-6">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    <p class="mb-0 text-right pr-2">Study in {{image.text}}</p>
                                                </div>
                                                <div class="col-lg-12 col-md-12">
                                                    <p class="mb-0 text-right pr-2"><a href="#" class="f-10">Check 218 Colleges ></a></p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <hr>
                                    <div class="row ">
                                        <div class="col-lg-12">
                                            <div class="row row-without-gutter ">
                                                <div class="col-lg-4 border-right pl-3 col-4 pl-xs-2">
                                                    <p class="mb-0 f-10 text-left">218 Total</p>
                                                    <p class="mb-0 f-10 text-left">Colleges</p>
                                                </div>
                                                <div class="col-lg-4 pl-3  border-right col-4 pl-xs-2">
                                                    <p class="mb-0 f-10 text-left">1129671 INR/Year</p>
                                                    <p class="mb-0 f-10 text-left">Average Study Cost</p>
                                                </div>
                                                <div class="col-lg-4 pl-3 col-4 pl-xs-2">
                                                    <p class="mb-0 f-10 text-left">140872445 INR/Year</p>
                                                    <p class="mb-0 f-10 text-left">Average Living Cost</p>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <hr>
                                    <div class="row">

                                        <div class="col-lg-12 ">
                                            <h6 class="text-left pl-3"><b>Coursewise List</b></h6>
                                            <div class="accordion px-2" id="accordionExample2">
                                                <div class="card">
                                                    <div class="card-header w-100" id="headingOne21">
                                                        <h2 class="mb-0">
                                                            <button class="btn btn-block text-left w-100 p-xs-0" type="button" data-toggle="collapse" data-target="#collapseOne21" aria-expanded="true" aria-controls="collapseOne21">
                                            <div class="row">
                                              <div class="col-lg-4 text-center d-inline black-text col-4">MBBS</div> 
                                              <div class=" col-lg-4 text-center d-inline col-7">74 Collages</div>
                                              <div class=" col-lg-4 col-1"><i class="float-right fa fa-angle-right rotate-icon"></i></div>
                                            </div>
                                            
                                            </button>
                                                        </h2>
                                                    </div>

                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingTwo22">
                                                        <h2 class="mb-0">
                                                            <button class="btn btn-block text-left collapsed w-100 p-xs-0" type="button" data-toggle="collapse" data-target="#collapseOne22" aria-expanded="false" aria-controls="collapseOne22">
                                              <div class="row">
                                                <div class="col-lg-4 text-center d-inline black-text col-4">MBA</div> 
                                                <div class=" col-lg-4 text-center d-inline col-7">74 Collages</div>
                                                <div class=" col-lg-4 col-1"><i class="float-right fa fa-angle-right rotate-icon"></i></div>
                                              </div>
                                            
                                            </button>
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingThree23">
                                                        <h2 class="mb-0">
                                                            <button class="btn  btn-block text-left collapsed w-100 p-xs-0" type="button" data-toggle="collapse" data-target="#collapseThree23" aria-expanded="false" aria-controls="collapseThree23">
                                              <div class="row">
                                                <div class="col-lg-4 text-center d-inline black-text col-4">M.Tech</div> 
                                                <div class=" col-lg-4 text-center d-inline col-7">74 Collages</div>
                                                <div class=" col-lg-4 col-1"><i class="float-right fa fa-angle-right rotate-icon"></i></div>
                                              </div>
                                            
                                            </button>
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingFour24">
                                                        <h2 class="mb-0">
                                                            <button class="btn btn-block text-left collapsed w-100 p-xs-0" type="button" data-toggle="collapse" data-target="#collapseFour24" aria-expanded="false" aria-controls="collapseFour24">
                                              <div class="row">
                                              <div class="col-lg-4 text-center d-inline black-text col-4">Design</div> 
                                            <div class=" col-lg-4 text-center d-inline col-7">74 Collages</div>
                                            <div class=" col-lg-4 col-1"><i class="float-right fa fa-angle-right rotate-icon"></i></div>
                                          </div>
                                            </button>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row ">
                                        <div class="col-lg-12">
                                            <div class=" text-center light-bg-blue">
                                                <h6 class="white-text py-2 mb-0">Get Counselling</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="">
                                    <div class="text-center">
                                        <button class="btn btn-study-show-more">Show More</button>
                                    </div>
                                </div>
                            </div>
                        </owl-carousel>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-without-gutter bg-white my-2 rounded-border">
            <div class="col-12">
                <div class="container">
                    <h2 class="light-blue-text text-center py-3"><b>Choose a Domain or Cource</b></h2>
                    <div class="col-lg-12">
                        <div class="row course-inner-div row-without-gutter">

                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="part">
                                    <img src="../../assets/img/Home Page/3. Domain or Course/Science.png" />
                                    <h3><b>Science</b></h3>
                                    <p>3945 Colleges</p>
                                    <h5><a href="#">View Courses</a></h5>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="part">
                                    <img src="../../assets/img/Home Page/3. Domain or Course/Arts.png" />
                                    <h3><b>Arts</b></h3>
                                    <p>3945 Colleges</p>
                                    <h5><a href="#">View Courses</a></h5>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="part">
                                    <img src="../../assets/img/Home Page/3. Domain or Course/Veterinary.png" />
                                    <h3><b>Veterinary</b></h3>
                                    <p>3945 Colleges</p>
                                    <h5><a href="#">View Courses</a></h5>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="part">
                                    <img src="../../assets/img/Home Page/3. Domain or Course/Management.png" />
                                    <h3><b>Management</b></h3>
                                    <p>3945 Colleges</p>
                                    <h5><a href="#">View Courses</a></h5>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="part">
                                    <img src="../../assets/img/Home Page/3. Domain or Course/Computer.png" />
                                    <h3><b>Computer</b></h3>
                                    <p>3945 Colleges</p>
                                    <h5><a href="#">View Courses</a></h5>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="part">
                                    <img src="../../assets/img/Home Page/3. Domain or Course/Engineering.png" />
                                    <h3><b>Engineering</b></h3>
                                    <p>3945 Colleges</p>
                                    <h5><a href="#">View Courses</a></h5>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="part">
                                    <img src="../../assets/img/Home Page/3. Domain or Course/Agriculture.png" />
                                    <h3><b>Agriculture</b></h3>
                                    <p>3945 Colleges</p>
                                    <h5><a href="#">View Courses</a></h5>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="part">
                                    <img src="../../assets/img/Home Page/3. Domain or Course/Animation.png" />
                                    <h3><b>Animation</b></h3>
                                    <p>3945 Colleges</p>
                                    <h5><a href="#">View Courses</a></h5>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="part">
                                    <img src="../../assets/img/Home Page/3. Domain or Course/Commerce.png" />
                                    <h3><b>commerce</b></h3>
                                    <p>3945 Colleges</p>
                                    <h5><a href="#">View Courses</a></h5>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="part">
                                    <img src="../../assets/img/Home Page/3. Domain or Course/Dental.png" />
                                    <h3><b>Dental</b></h3>
                                    <p>3945 Colleges</p>
                                    <h5><a href="#">View Courses</a></h5>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="part">
                                    <img src="../../assets/img/Home Page/3. Domain or Course/Law.png" />
                                    <h3><b>Law</b></h3>
                                    <p>3945 Colleges</p>
                                    <h5><a href="#">View Courses</a></h5>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="part"><br><br>
                                    <h3><b>Discover<br>More</b></h3>
                                    <!-- <p>3945 Colleges</p> -->
                                    <!-- <h5><a href="#">View Courses</a></h5> -->
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row row-without-gutter bg-white my-2 rounded-border">
            <div class="col-12">
                <h2 class="light-blue-text text-center py-3"><b>Study Abroad Exam</b></h2>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl</p>
                <div class="col-lg-12">
                    <div class="row-without-gutter row">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="card contact-card">
                                <div class="row m-0">
                                    <div class="col-lg-12 text-center card-header p-0 cust-border">
                                        <div class="row row-without-gutter m-0">
                                            <div class="col-lg-2 col-sm-2 col-4">
                                                <img src="../../assets/img/Study_Abroad_Icons/7.Study_Abroad_Exam/Logo.png" alt="" class="p-1 logo-img">
                                            </div>
                                            <div class="col-lg-10 col-sm-10 col-8 text-center pt-2">
                                                <h5 class="white-text-2 mt-0 bold mb-0">JEE Main</h5>
                                                <p class="mb-0 white-text-2">Written Test</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-3">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipisc- ing elit, sed diam nonummy nibh Lorem ipsum dolor sit amet, consectetuer adipisc- ing elit, sed diam nonummy n</p>
                                </div>
                                <div class="row m-0">
                                    <div class="col-12 p-0">
                                        <div class="card-footer cust-border-2">
                                            <div class="row row-without-gutter m-0">
                                                <div class="col-lg-6 col-sm-6 col-6 text-center">
                                                    <button class="btn btn-blue w-100 white-text-2">Apply Now</button>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-6 text-center bg-white border-rad">
                                                    <button class="btn w-100">Registration</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="card contact-card">
                                <div class="row m-0">
                                    <div class="col-lg-12 text-center card-header p-0 cust-border">
                                        <div class="row row-without-gutter m-0">
                                            <div class="col-lg-2 col-sm-2 col-4">
                                                <img src="../../assets/img/Study_Abroad_Icons/7.Study_Abroad_Exam/Logo.png" alt="" class="p-1 logo-img">
                                            </div>
                                            <div class="col-lg-10 col-sm-10 col-8 text-center pt-2">
                                                <h5 class="white-text-2 mt-0 bold mb-0">JEE Main</h5>
                                                <p class="mb-0 white-text-2">Written Test</p>
                                            </div>
                                        </div>



                                    </div>
                                </div>

                                <div class="row p-3">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipisc- ing elit, sed diam nonummy nibh Lorem ipsum dolor sit amet, consectetuer adipisc- ing elit, sed diam nonummy n</p>
                                </div>
                                <div class="row m-0">
                                    <div class="col-12 p-0">
                                        <div class="card-footer cust-border-2">
                                            <div class="row row-without-gutter m-0">
                                                <div class="col-lg-6 col-sm-6 col-6 text-center">
                                                    <button class="btn btn-blue w-100 white-text-2">Apply Now</button>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-6 text-center bg-white border-rad">
                                                    <button class="btn w-100">Registration</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="card contact-card">
                                <div class="row m-0">
                                    <div class="col-lg-12 text-center card-header p-0 cust-border">
                                        <div class="row row-without-gutter m-0">
                                            <div class="col-lg-2 col-sm-2 col-4">
                                                <img src="../../assets/img/Study_Abroad_Icons/7.Study_Abroad_Exam/Logo.png" alt="" class="p-1 logo-img">
                                            </div>
                                            <div class="col-lg-10 col-sm-10 col-8 text-center pt-2">
                                                <h5 class="white-text-2 mt-0 bold mb-0">JEE Main</h5>
                                                <p class="mb-0 white-text-2">Written Test</p>
                                            </div>
                                        </div>



                                    </div>
                                </div>

                                <div class="row p-3">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipisc- ing elit, sed diam nonummy nibh Lorem ipsum dolor sit amet, consectetuer adipisc- ing elit, sed diam nonummy n</p>
                                </div>
                                <div class="row m-0">
                                    <div class="col-12 p-0">
                                        <div class="card-footer cust-border-2">
                                            <div class="row row-without-gutter m-0">
                                                <div class="col-lg-6 col-sm-6 col-6 text-center">
                                                    <button class="btn btn-blue w-100 white-text-2">Apply Now</button>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-6 text-center bg-white border-rad">
                                                    <button class="btn w-100">Registration</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="card contact-card">
                                <div class="row m-0">
                                    <div class="col-lg-12 text-center card-header p-0 cust-border">
                                        <div class="row row-without-gutter m-0">
                                            <div class="col-lg-2 col-sm-2 col-4">
                                                <img src="../../assets/img/Study_Abroad_Icons/7.Study_Abroad_Exam/Logo.png" alt="" class="p-1 logo-img">
                                            </div>
                                            <div class="col-lg-10 col-sm-10 col-8 text-center pt-2">
                                                <h5 class="white-text-2 mt-0 bold mb-0">JEE Main</h5>
                                                <p class="mb-0 white-text-2">Written Test</p>
                                            </div>
                                        </div>



                                    </div>
                                </div>

                                <div class="row p-3">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipisc- ing elit, sed diam nonummy nibh Lorem ipsum dolor sit amet, consectetuer adipisc- ing elit, sed diam nonummy n</p>
                                </div>
                                <div class="row m-0">
                                    <div class="col-12 p-0">
                                        <div class="card-footer cust-border-2">
                                            <div class="row row-without-gutter m-0">
                                                <div class="col-lg-6 col-sm-6 col-6 text-center">
                                                    <button class="btn btn-blue w-100 white-text-2">Apply Now</button>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-6 bg-white border-rad">
                                                    <button class="btn">Registration</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="card contact-card">
                                <div class="row m-0">
                                    <div class="col-lg-12 text-center card-header p-0 cust-border">
                                        <div class="row row-without-gutter m-0">
                                            <div class="col-lg-2 col-sm-2 col-4">
                                                <img src="../../assets/img/Study_Abroad_Icons/7.Study_Abroad_Exam/Logo.png" alt="" class="p-1 logo-img">
                                            </div>
                                            <div class="col-lg-10 col-sm-10 col-8 text-center pt-2">
                                                <h5 class="white-text-2 mt-0 bold mb-0">JEE Main</h5>
                                                <p class="mb-0 white-text-2">Written Test</p>
                                            </div>
                                        </div>



                                    </div>
                                </div>

                                <div class="row p-3">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipisc- ing elit, sed diam nonummy nibh Lorem ipsum dolor sit amet, consectetuer adipisc- ing elit, sed diam nonummy n</p>
                                </div>
                                <div class="row m-0">
                                    <div class="col-12 p-0">
                                        <div class="card-footer cust-border-2">
                                            <div class="row row-without-gutter m-0">
                                                <div class="col-lg-6 col-sm-6 col-6 text-center">
                                                    <button class="btn btn-blue w-100 white-text-2">Apply Now</button>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-6 text-center bg-white border-rad">
                                                    <button class="btn w-100">Registration</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="card contact-card">
                                <div class="row m-0">
                                    <div class="col-lg-12 text-center card-header p-0 cust-border">
                                        <div class="row row-without-gutter m-0">
                                            <div class="col-lg-2 col-sm-2 col-4">
                                                <img src="../../assets/img/Study_Abroad_Icons/7.Study_Abroad_Exam/Logo.png" alt="" class="p-1 logo-img">
                                            </div>
                                            <div class="col-lg-10 col-sm-10 col-8 text-center pt-2">
                                                <h5 class="white-text-2 mt-0 bold mb-0">JEE Main</h5>
                                                <p class="mb-0 white-text-2">Written Test</p>
                                            </div>
                                        </div>



                                    </div>
                                </div>

                                <div class="row p-3">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipisc- ing elit, sed diam nonummy nibh Lorem ipsum dolor sit amet, consectetuer adipisc- ing elit, sed diam nonummy n</p>
                                </div>
                                <div class="row m-0">
                                    <div class="col-12 p-0">
                                        <div class="card-footer cust-border-2">
                                            <div class="row row-without-gutter m-0">
                                                <div class="col-lg-6 col-sm-6 col-6 text-center">
                                                    <button class="btn btn-blue w-100 white-text-2">Apply Now</button>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 col-6 text-center bg-white border-rad">
                                                    <button class="btn w-100">Registration</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-without-gutter bg-white my-2 rounded-border">
            <div class="col-12">
                <div class="container">
                    <h2 class="light-blue-text text-center py-3"><b>Study Abroad Blogs</b></h2>

                    <div class="row row-without-gutter">
                        <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                            <div class="item blog-inner-div" *ngFor="let image of images;let i= index">
                                <div class="border-black mr-3">
                                    <div class="row">
                                        <div class="col-lg-12  ">
                                            <div class="row">
                                                <img class="slide-image" src="{{image.image}}" style="width:100%">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pl-xs-2">
                                        <div class="col-lg-12">
                                            <p class="light-blue-text pt-3 pl-2">Top 20 Medical Colleges in Madhya Pradesh</p>
                                        </div>
                                    </div>

                                    <div class="row pl-xs-2">
                                        <div class="col-lg-12">
                                            <p class="text-left f-11 pl-2">{{image.text}}</p>
                                        </div>
                                    </div>
                                    <div class="row  mb-2 pl-2 pl-xs-2">
                                        <div class="col-lg-12">
                                            <button class="light-bg-blue white-text p-1">Read-more</button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-blog-show-more text-center">Discover More</button>
                                    </div>
                                </div>
                            </div>
                        </owl-carousel>
                        <!-- <div class="">
                                   <div class="text-center">
                                   <h4></h4>
                                   </div>
                              </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-without-gutter bg-white my-2 rounded-border">
            <div class="col-12">
                <div class="row row-without-gutter text-center">
                    <div class="col-12">
                        <h3 class="light-blue-text text-center py-3">Study Abroad:</h3>
                        <h3 class="light-blue-text">Find Program, Colleges, Costs, Scholarship, Visa Details For International Students</h3>
                    </div>
                </div>
                <div class="row row-without-gutter">
                    <div class="col-12">
                        <div class="text  p-4" [ngClass]="{'limitTextHeight': isReadMore}">
                            <p class="text-justify">IIM Bangalore is one of the most prestigious institutions for pursuing Masters in Business Administration. It lasts over six semesters spread over two years. IIMB has a remarkable faculty of 140 plus highly qualified researchers
                                and academicians who are dedicated towards providing a fruitful learning experience for the students. The main courses provided by IIMB are Phd, MBA, PGPPM, MBA ( Business Analytics).</p>
                            <p class="text-justify">
                                IIM Bangalore shortlists candidates on the basis of their CAT scores. The main criteria is divided into 4 parts- 50% weightage is given to academics, 40% weightage is given to CAT scores, 8% to work experience and 2% to gender diversity.
                            </p>
                            <p class="text-justify">
                                The selected candidates appear for Written Ability Test and Personal Interview.
                            </p>
                            <p class="text-justify">
                                A total of 483 students joined the batch of 2021-23 of two year full time program of Masters in Business Administration. A total of 45 students joined Masters of Business Administration in Business Analytics. 347 out of 483 students are from engineering
                                background (71.83 % of total students), 32.56% of the engineers are pass outs from IIT and 31.12% of engi-
                            </p>
                            <p class="text-justify">
                                IIM Bangalore shortlists candidates on the basis of their CAT scores. The main criteria is divided into 4 parts- 50% weightage is given to academics, 40% weightage is given to CAT scores, 8% to work experience and 2% to gender diver- sity.
                            </p>
                            <p class="text-justify">
                                The selected candidates appear for Written Ability Test and Personal Interview.
                            </p>
                            <p class="text-justify">
                                A total of 483 students joined the batch of 2021-23 of two year full time program of Masters in Business Administration. A total of 45 students joined Masters of Business Administration in Business Analytics. 347 out of 483 students are from engineering
                                background (71.83 % of total students), 32.56% of the engineers are pass outs from IIT and 31.12% of engi-
                            </p>
                        </div>

                        <div class="row text-center p-relative row-without-gutter">
                            <button type="button" (click)="showText()" class="read-more-btn btn">
                                   {{ isReadMore ? 'See More': 'See Less' }}
                                 </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-chat></app-chat>
<app-footer></app-footer>