.contact-form{
	border-radius: 3px;
    box-shadow: 0px 0px 0px 9px rgb(255 255 255 / 79%);
    background-color: rgb(255 255 255 / 79%);
    width: 70%;
    margin-top: -12%;
}
.reach-form{
	border-radius: 3px;
	box-shadow: 0px 0px 0px 9px rgb(255 255 255 / 79%);
	background-color: rgb(255 255 255 / 79%);
	width: 70%;
	float:right;
    margin-top: -12%;
}
.contact-banner{
	font-family: "Poppins", sans-serif;
	padding-top: 8%;
}
.custom-inp {
     width: 100%;
     height: 35px;
     padding-left: 5px;
     color: #fff;
     border: 1px #fff solid;
     background: transparent;
 }
 .contact-form .custom-inp, .contact-form .custom-inp-txt {
     background-color: #fff;
     border: none;
     border-radius: 5px;
     color: #000;
 }
 .form-group {
     margin-bottom: 15px;
 }
 .contact-header{
	height:580px ;
	padding-top: 50px 5% 50px 5%;
	/*padding-right: 5%;
	padding-bottom: 50px;
	padding-left: 5%;*/
	box-shadow: inset 0 0 0 2000px rgb(88 147 235 / 34%);
	background-size:100%;
	-webkit-background-size:100;
  	background-image: linear-gradient(to right, rgba(25,25,22,0.8), rgba(25,25,22,0.5)),url('../../assets//img/BG.jpg');
	 /* linear-gradient(to right, rgba(25,25,22,0.8), rgba(25,25,22,0.5)),url(img/logo2.png) no-repeat;  */

  background-repeat: no-repeat,
      no-repeat;
  background-position: bottom right,
      left,
      right;
}
.contact-form .form-header h3{
     font-size:24px;
}
#input {
     margin-top: 5px;
     padding: 5px;
 }
 .reach-form .custom-inp, .reach-form .custom-inp-txt {
     background-color: #fff;
 }
 .left-icon {
     margin-right: 20px;
     float: left;
     margin-top: 5px;
 }
 .fa-phone{
     transform: rotate(90deg);
 }
 #textarea {
     padding: 2% 2% 30% 2%;
     resize: none;
    //  height: 12vh;
 }
 .add-div {
     grid-template-columns: auto;
     display: grid;
     grid-gap: 10px;
 }
 .custom-mt {
     margin-top: 90px;
 }
 .card {
	transition: 0.3s;
   }
   
   
.phone-icon i{
	font-size:27px;
	padding:5px;
}
.contact-card{
	border-radius: 5px;
	border-color: #000;
    margin-bottom: 20px;
}
.contact-card hr{
	
	border-color: #000;
}
.contact-card-container{
	flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.contact-card-height{
    height: 228px;
}
.map{
	box-shadow: 0 4px 8px 0 rgba(0,0,0);
	border-radius: 10px;
}
.border-right-white{
	border-right:  solid 1px #fff ;
}
.address-text{
     font-size:14px;
}
.name-text{font-size: 18px;}
contact-card hr {
     border-color: #000;
     margin:20px;
 }
 .reach{
     background-color: #80808038;
}
.reach-out-header{
     font-size: 36px;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
}
.footer-custom-div {
     flex: 0 0 20%;
     max-width: 29%;
 }

 @media only screen and (max-width:766px){
    .mb-5 {
        margin-bottom: 0rem!important;
    }
 }

.blog-header{
    margin-top: -30%;
    padding-top: 5%;
    margin-left: 480px;
}

// input.ng-invalid{
//     border-left: 5px solid red;

// }
.error{
    margin-left: 5px;
    color: red;
    font-size: 12px;
}

//form css starts here
.form {
    background-color: rgb(255 255 255 / 79%);
    padding-bottom: 10px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  
  #thankyouform {
    margin-left: 0%;
    padding: 50px;
    margin-top: 1.5%;
    --border-size: 3px;
    --border-angle: 0turn;
  
    background-image: conic-gradient(from var(--border-angle),
        rgb(238, 233, 243),
        rgb(232, 232, 240) 50%,
        rgb(243, 241, 245)),
      conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
  
    animation: bg-spin 3s linear infinite;
  
    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }
  
    &:hover {
      animation-play-state: paused;
    }
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  
  }
  
  svg {
    color: green;
  }
  
 
  
  .flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  .form-check-inline {
    margin-top: -16px;
  }
  
  label {
    margin-bottom: 0rem;
  }
  
  .form-input {
    font-size: 12px;
  }
  
  .modal-title {
    color: #0b4292;
    font-weight: 700;
  }
  
  .left-txt {
    margin-bottom: 0.4rem;
  }
  
  .form-card {
    background-color: white;
    padding: 20px;
    line-height: 97%;
    width: 155%;
    margin-top: 1.5%;
    --border-size: 3px;
    --border-angle: 0turn;
  
    background-image: conic-gradient(from var(--border-angle),
        rgb(238, 233, 243),
        rgb(232, 232, 240) 50%,
        rgb(243, 241, 245)),
      conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
  
    animation: bg-spin 3s linear infinite;
  
    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }
  
    &:hover {
      animation-play-state: paused;
    }
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  
  .form-head {
    color: #0b4292;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 700;
  }
  
  .card-left-text {
    margin-bottom: 0.8rem !important;
    font-size: 12px;
  }
  
  .sub-title {
    font-weight: 400;
  }
  
  .form-div {
    margin-top: 15px;
  }
  
  .shortlist-txt {
    font-size: 8px;
  }
  
  .shortlist-card {
    border-radius: 3px;
    height: 68px;
    padding: 3px;
  }
  
  .form-input {
    border-left: none !important;
    border-right: 1px solid #8c8d91 !important;
    border-top: 1px solid #8c8d91 !important;
    border-bottom: 1px solid #8c8d91 !important;
    border-radius: 0% !important;
  }
  
  input.form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
  }
  
  .icon {
    border-right: none !important;
    border-top: 1px solid #8c8d91 !important;
    border-left: 1px solid #8c8d91 !important;
    border-bottom: 1px solid #8c8d91 !important;
    border-radius: 0% !important;
  }
  
  .close {
    float: right;
    background: none;
    border: none;
    font-size: 28px;
    height: 22px;
    margin-top: 5px;
    margin-right: 12px;
  }
  
  .terms {
    font-size: 10px;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
  }
  
  .submit {
    //margin-top: 40px;
    background: #ffae47;
    color: white;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  
  .submit:hover {
    //margin-top: -5px;
    background: #ffae47;
    color: white;
    font-weight: bold;
  }
  
  .login-block {
    font-size: 12px;
  }
  
  .img-size {
    height: 50px;
    width: 45px;
  }
  
  .validation {
    color: red;
    font-size: 10px;
  }
  
  @media all and (max-width: 600px) {
    .submit {
      margin-top: 9px;
    }
  
    .container #thankyouform {
      align-items: center;
      margin-left: 0%;
    }
  
    .form {
      margin-top: 0%;
    }

    .form-card{
         //margin-left: -27%;
    }
  
  
  
  }
  
  @media all and (min-width: 700px) and (max-width: 992px) {
    .submit {
      font-size: 10px;
    }
    
  }
  
  .form {
    background-color: #d7d4d4;
    padding-bottom: 10px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  
  .flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  .modal-title {
    color: #0b4292;
    font-weight: 700;
  }
  
  .left-txt {
    margin-bottom: 0.4rem;
  }
  
  .form-card {
    background-color: white;
    padding: 20px;
    line-height: 97%;
  }
  
  .form-head {
    color: #0b4292;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 700;
  }
  
  .card-left-text {
    margin-bottom: 0.8rem !important;
    font-size: 12px;
  }
  
  .sub-title {
    font-weight: 400;
  }
  
  .edu-title {
    font-weight: 600;
  }
  
  .form-div {
    margin-top: 8px;
  }
  
  .shortlist-txt {
    font-size: 8px;
  }
  
  .shortlist-card {
    border-radius: 3px;
    height: 68px;
    padding: 3px;
  }
  
  .form-input1 {
    border: 1px solid #8c8d91 !important;
    border-radius: 4px !important;
    height: 30px;
  }
  
  .score-input {
    border: 1px solid 8c8d91 !important;
    height: 30px;
  }
  
  input.form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
  }
  
  .icon {
    border-right: none !important;
    border-top: 1px solid 8c8d91 !important;
    border-left: 1px solid 8c8d91 !important;
    border-bottom: 1px solid 8c8d91 !important;
    border-radius: 0% !important;
  }
  
  .close {
    float: right;
    background: none;
    border: none;
    font-size: 28px;
    height: 22px;
    margin-top: 5px;
    margin-right: 12px;
  }
  
  .terms {
    font-size: 11px;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    display: inline-flex;
  }
  
  .submit {
    //margin-top: 40px;
    background: #ffae47;
    color: white;
    // font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  
  .back {
    margin-top: -5px;
    background: white;
    color: #ffae47;
    border: 1px solid #ffae47;
    // font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  
  .back:hover {
    color: #ffae47;
    border: 1px solid #ffae47;
  }
  
  .submit:hover {
    //margin-top: -5px;
    background: #ffae47;
    color: white;
    // font-weight: bold;
  }
  
  .login-block {
    font-size: 12px;
  }
  
  .exam {
    margin-right: 27px;
  }
  
  .twelve {
    padding-top: 15px;
    font-weight: 400;
  }
  
  .tenth {
    padding-top: 0;
    font-weight: 400;
    margin-bottom: 0;
  }
  
  .img-size {
    height: 50px;
    width: 45px;
  }
  
  @media all and (max-width: 600px) {
    .submit {
      margin-top: 9px;
    }
    .form-card{
        width: 158%;
        margin-left: -29%;
    }
  }
  
  @media all and (min-width: 700px) and (max-width: 992px) {
    .submit {
      font-size: 10px;
    }
  }
  @media all and (min-width: 600px) and (max-width: 767px) {
    .form-card{
         width: 100%;
    }
  }
  
  .form {
    background-color: #d7d4d4;
    padding-bottom: 10px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  
  .flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  .modal-title {
    color: #0b4292;
    font-weight: 700;
  }
  
  .left-txt {
    margin-bottom: 0.4rem;
  }
  
  .form-card {
    background-color: white;
    padding: 20px;
    line-height: 97%;
  }
  
  .form-head {
    color: #0b4292;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 700;
  }
  
  .card-left-text {
    margin-bottom: 0.8rem !important;
    font-size: 12px;
  }
  
  .sub-title {
    font-weight: 400;
  }
  
  .edu-title {
    font-weight: 600;
  }
  
  .form-div {
    margin-top: 15px;
  }
  
  .shortlist-txt {
    font-size: 8px;
  }
  
  .shortlist-card {
    border-radius: 3px;
    height: 68px;
    padding: 3px;
  }
  
  .form-input {
    border-left: none !important;
    border-right: 1px solid #8c8d91 !important;
    border-top: 1px solid #8c8d91 !important;
    border-bottom: 1px solid #8c8d91 !important;
    border-radius: 0% !important;
    height: 32px;
  }
  
  .score-input {
    border: 1px solid #8c8d91 !important;
    height: 30px;
  }
  
  input.form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
  }
  
  .icon {
    border-right: none !important;
    border-top: 1px solid #8c8d91 !important;
    border-left: 1px solid #8c8d91 !important;
    border-bottom: 1px solid #8c8d91 !important;
    border-radius: 0% !important;
  }
  
  .close {
    float: right;
    background: none;
    border: none;
    font-size: 28px;
    height: 22px;
    margin-top: 5px;
    margin-right: 12px;
  }
  
  .terms {
    font-size: 11px;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    display: inline-flex;
  }
  
  .submit {
    //margin-top: 40px;
    background: #ffae47;
    color: white;
    // font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  
  .back {
    margin-top: -5px;
    background: white;
    color: #ffae47;
    border: 1px solid #ffae47;
    // font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  
  .back:hover {
    color: #ffae47;
    border: 1px solid #ffae47;
  }
  
  .submit:hover {
    //margin-top: -5px;
    background: #ffae47;
    color: white;
    // font-weight: bold;
  }
  
  .login-block {
    font-size: 12px;
  }
  
  .exam {
    margin-right: 27px;
  }
  
  .img-size {
    height: 50px;
    width: 45px;
  }
  
  .validation {
    color: red;
    font-size: 10px;
  }
  
  @media all and (max-width: 600px) {
    .submit {
      margin-top: 9px;
    }
  
    .modal-header {
      flex-direction: column;
    }
  
    .modal-title {
      padding-left: 40px;
    }
   
    .container #hide {
      display: none;
    }
  
   #row{
    margin-left: 10px;
    margin-right: 10px;
   }
  
    #phone {
      margin-bottom: 15px;
    }
  
  
    .modal-title {
      display: none;
    }
  
    .sub-title {
      font-size: 10px;
    }
  
  }
  
  
  @media all and (min-width: 700px) and (max-width: 992px) {
    .submit {
      font-size: 10px;
    }
  }
  
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }
  //form css ends here
  