.aboutUs-banner {
    height: 30vh;
    box-shadow: inset 0 0 0 2000px rgb(88 147 235 / 6%);
    background-size: 100% 100%;
    background-image: linear-gradient(to right, rgba(40, 185, 229, 0.8), #33539d);
    background-repeat: no-repeat;
}

.about-us {
    background-color: #d7d4d4;
    padding-bottom: 10px;
    
}

.about-us-page-header {
    padding-top: 5%;
}

.home-img {
    width: 50%
}

.arrow-img {
    width: 20%;
    padding-top: 10%;
}

.about-us-page-breadcrumb {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-left: 30px;
}

.about-us-page-breadcrumb a {
    display: inline-block;
    padding: 0;
    margin: 0;
    // float: left;
    text-decoration: none;
}

.about-us-page-breadcrumb a.home {
    width: 2%;
    padding-top: 2px;
}

.about-us-page-breadcrumb a.arrow {
    width: 2%;
    padding-top: 2px;
}

// .about-us-page-breadcrumb a.service-link{
//      // width:5%
// }
.about-us-page-breadcrumb a.service-link .white-text-2 {
    margin-bottom: 0px;
    font-size: 16px;
    padding-top: 10%;
}

.row-without-gutter {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}

.navbar-toggle {
    background-color: #efefef;
    border: 2px #767676 outset;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.img-below-banner {
    width: 75%;
    padding: 20px;
}

.below-banner {
    // height:55vh ;
    // box-shadow: inset 0 0 0 2000px rgb(88 147 235 / 6%);
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    padding: 3%;
}

.below-banner-text {
    padding: 20px;
}

.mission-img,
.vision-img {
    width: 100%;
    padding: 5%;
    padding-top: 16%;
    padding-left: 0px;
}

.our-mission {
    // height:70vh ;
    // box-shadow: inset 0 0 0 2000px rgb(88 147 235 / 6%);
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    padding: 3% 0%;
}

.our-services-div {
    // box-shadow: inset 0 0 0 2000px rgb(88 147 235 / 6%);
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    padding: 3%;
}

.number-speaks {
    // box-shadow: inset 0 0 0 2000px rgb(88 147 235 / 6%);
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    padding: 3%;
}

.our-services-div-content {
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    padding: 1% 3%;
}

.review {
    // box-shadow: inset 0 0 0 2000px rgb(88 147 235 / 6%);
    background-image: linear-gradient(to right, rgba(40, 185, 229, 0.8), #33539d);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    padding: 3%;
}

.mission-div,
.vision-div {
    padding: 2%;
    padding-top: 0px;
}

.vision-div {
    padding-left: 0px;
}

.our-mission-text {
    padding-right: 10%;
    border-right: 2px solid #d5cfcf;
}

.mission-div-inner,
.vision-div-inner {
    padding-top: 2%;
}

.service-card {
    height: 40vh;
}

.mr-3 {
    margin-right: 3%;
}

.service-card-text {
    position: absolute;
    top: 60%;
    bottom: 20px;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.number-speak-img {
    width: 50%;
}

.number-speak-img1 {
    width: 35%;
}

.number-speak-img4 {
    width: 40%;
}

.number-speak-div {
    padding: 2%;
    text-align: center;
}

.border-right {
    border-right: 1px solid #000;
}

.img-holder {
    height: 20vh;
    padding: 4%;
}

.mb-3 {
    margin-bottom: 3%
}

.review-img {
    width: 100%
}

.mt-20 {
    margin-top: 20%;
}

.our-services-div {
    display: none;
}

.service-img {
    width: 80%;
    margin: 0px auto;
    display: block;
}

.service {
    margin-bottom: 20px;
}

// .text-div {}

.mb-3 {
    margin-bottom: 3%
}

.review-img {
    width: 100%
}

.mt-20 {
    margin-top: 20%;
}

.our-services-div {
    display: none;
}

.service-img {
    width: 80%;
    margin: 0px auto;
    display: block;
    max-height: 300px;
}

.service {
    margin-bottom: 20px;
}

.text-div {
    position: absolute;
    bottom: 13%; // bottom: 5%;
    text-align: center;
    width: 70%; //width: 50%;
    left: 14%; //left: 25%;
    color: #fff;
}

.holder-div {
    position: relative;
}

@media only screen and  (max-width:767px) {
    .service-card {
         right: 0%;
    }

    .holder-div {
         position: relative;
    }

    @media only screen and  (max-width:767px) {
         .service-card {
              height: auto !important;
         }

         .vision-div {
              padding-left: 2%;
         }

         .our-services-div-content {
              display: none;
         }

         .aboutUs-banner {
              height: auto;
              padding-bottom: 5%;
         }

         .img-below-banner {
              width: 100%
         }

         .below-banner-text {
              text-align: left !important;
         }

         .about-us-page-breadcrumb {
              margin-left: 0px;
         }

         .our-mission-text {
              border-right: none;
              border-bottom: 1px solid #000;
              padding-bottom: 10%;
         }

         .number-speak-div {
              border-right: none !important;
         }

         .our-mission-header,
         .our-vision-header {
              text-align: center;
         }

         .review-img {
              margin-top: 0px !important
         }

         .our-services-div h4 {
              text-align: center;
         }

         .about-us-page-breadcrumb a {
              float: none;
         }

         .about-us-page-breadcrumb a.home,
         .about-us-page-breadcrumb a.arrow {
              width: 8%;
              margin-top: 0px;
         }

         .our-services-div {
              display: block !important;
         }

         .img-holder {
              height: auto !important
                   /*AS*/
         }

         //<<<<<<< HEAD
         .number-speak-img1 {
              width: 50% !important;
         }

         .number-speak-img {
              width: 65% !important;
         }

         .number-speak-img4 {
              width: 55% !important;
         }

         //=======

         .arrow-img {
              width: 15%;
         }

         .serviceMobImg {
              max-height: 250px !important;
         }

         .service-card-text {
              top: 65%;
              bottom: 0px;
              padding-right: unset !important;
              text-align: center;
              font-size: 14px;
         }
    }

    @media only screen and  (max-width:1024px) and  (min-width:768px) {
         .aboutUs-banner {
              height: auto;
              padding-bottom: 5%;
         }

         .about-us-page-breadcrumb a {
              float: none;
         }

         .about-us-page-breadcrumb a.home,
         .about-us-page-breadcrumb a.arrow {
              width: 10%
         }

         .about-us-page-breadcrumb {
              margin-left: 0px;
         }

         .img-below-banner {
              width: 100%;
         }

         .our-mission-text {
              padding-right: 0%;
              border-right: none;
              padding-top: 20px;
         }

         .service-img {
              width: 90%;
         }

         .img-holder {
              height: 10vh !important
         }

         .vision-div-inner {
              padding-top: 10%;
         }
    }

    .white-text-2 {
         margin-right: 15px;
    }

    // @media only screen and (min-width:1030px) {
    //      // .about-us-page-breadcrumb[_ngcontent-ovc-c2] a.arrow[_ngcontent-ovc-c2] {

    //      //      margin-top: 7px; 
    //      //  }
    //      .about-us-page-breadcrumb a {

    //           margin-top: 5px;
    //      }
    // }

    // @media only screen and (min-width:1024px) and (max-width:1500px) {
    //      .about-us-page-breadcrumb {
    //           //     padding-top: 60px;
    //           padding-top: 100px;
    //      }
    // }

    // @media only screen and (max-width:992px) {
    //      .about-us-page-breadcrumb {
    //           padding-top: 60px;
    //      }
    // }

    // @media only screen and (min-width:500px) and (max-width:1124px) {
    //      .white-text-2 {
    //           margin-right: -9px;
    //      }

    //      .about-us-page-breadcrumb a.home,
    //      .about-us-page-breadcrumb a.arrow {
    //           width: 10%;
    //           margin-right: -40px;
    //           margin-left: 0px;
    //      }

    //      .home-img {
    //           width: 22%;
    //           padding-top: 6px;
    //      }

    //      //  .arrow-img{
    //      //      width: 10%;
    //      //      padding-top: 10%;
    //      //      margin-left: -43px;
    //      //  }
    //      .arrow-img {
    //           width: 10%;
    //           padding-top: 10%;
    //           margin-left: -43px;
    //      }

    //      .about-us-page-breadcrumb a {
    //           float: none;
    //           margin-left: -2px;
    //      }

    //      .about-us-page-breadcrumb a.service-link .white-text-2 {
    //           margin-bottom: 0px;
    //           font-size: 16px;
    //           padding-top: 10%;
    //           margin-left: -7px;
    //           padding-top: 10px;

    //      }


    //      .about-us-page-breadcrumb a.home,
    //      .about-us-page-breadcrumb a.arrow {
    //           width: 10%;
    //           margin-right: -24px;
    //           margin-left: 14px;
    //      }
    // }

//      @media only screen and (min-width:750px) and (max-width:1124px) {

//           .about-us-page-breadcrumb a.home,
//           .about-us-page-breadcrumb a.arrow {
//                width: 10%;
//                margin-right: -35px;
//                margin-left: 12px;
//           }

//           .white-text-2 {
//                margin-right: -24px;
//                padding-top: 1px;
//           }

//      }

//      @media only screen and (min-width:1030px) and (max-width:1124px) {

//           .about-us-page-breadcrumb a.home,
//           .about-us-page-breadcrumb a.arrow {
//                // width: 10%;
//                // margin-right: -51px;
//                // margin-left: -2px;
//                width: 10%;
//                margin-right: -45px;
//                margin-left: 7px;
//           }

//           .white-text-2 {
//                margin-right: -24px;
//                padding-top: 4px;
//           }
//      }

//      @media only screen and (min-width:499px) and (max-width:742px) {
//           .home-img {
//                width: 30%;
//                padding-top: 3px;
//                margin-right: 10px;
//           }

//      }

//      @media only screen and (min-width:996px) and (max-width:1029px) {

//           .about-us-page-breadcrumb a.home,
//           .about-us-page-breadcrumb a.arrow {
//                width: 10%;
//                margin-right: -43px;
//                margin-left: 5px;
//           }

//      }

//      @media only screen and (min-width:1030px) and (max-width:1124px) {

//           .home-img {
//                width: 15%;
//                padding-top: 6px;
//           }

//           .about-us-page-breadcrumb a.home,
//           .about-us-page-breadcrumb a.arrow {
//                width: 10%;
//                margin-right: -45px;
//                margin-left: -3px;
//           }
//      }
}

.about-us-page-breadcrumb{
     display: block; 
    justify-content: center;
    padding-top: 4%;
    padding-left: 30px;
}

@media only screen and (min-width:400px) and (max-width:767px) {
    .about-us-page-breadcrumb a.home, .about-us-page-breadcrumb a.arrow{
         width: 4%;
}
}