<section class="study-abroad">
     <div class="study-abroad-banner">
          
       <div class="col-lg-12">
         <div class="study-abroad-header text-center">
           <h1 class="white-text-2 mb-0" [innerHTML]="h1Title"></h1>
           <div class="title">
             <h6
               class="title-text white-text-2"
               [innerHTML]="displayData.info"
             ></h6>
           </div>
           <!-- <div class="col-lg-12">
             <div class="row row-without-gutter">
               <form class="exam-page-form d-block mx-auto" action="">
                 <input
                   type="text"
                   placeholder="Enter Course, College or Exam"
                   name="search2"
                 />
                 <button type="submit"><i class="fa fa-search"></i></button>
               </form>
             </div>
           </div> -->
           <!-- <div class="col-lg-12">
             <div class="row row-without-gutter" id="flex">
               <div class="flex-div">
                 <p class="d-inline white-text-2 cust-padding mb-0">
                   Top Courses:
                 </p>
                 <div class="pill-div-course">MBBS</div>
                 <div class="pill-div-course">MBA</div>
                 <div class="pill-div-course">Engineering</div>
                 <div class="pill-div-course">Designing</div>
                 <div class="pill-div-course">B.Com/CA</div>
               </div>
             </div>
           </div> -->
           <div class="col-lg-12">
             <div class="row row-without-gutter" id="flex">
               <div class="flex-div">
                 <!-- <button class="btn btn-orange white-text-2">Read More<img src="../../assets/img/Study_Abroad_Icons/1.Header/Raed More.png" width="20" alt="" class="pl-3"></button> -->
                 <button class="btn btn-orange white-text-2">Apply Now</button>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="container-fluid">
     <div class="col-lg-12 below-banner">
       <div class="row row-without-gutter">
         <div class="col-lg-4 col-4 col-sm-4 right-white-border p-4">
           <h2 class="text-orange text-center mob-height">
             {{ displayData.courseOffer }}
           </h2>
           <h5 class="py-3 text-center f-12">
             Courses Offered in {{ displayData.title }}
           </h5>
         </div>
         <div class="col-lg-4 col-4 col-sm-4 right-white-border p-4">
           <h2 class="text-blue text-center mob-height">
             {{ displayData.internationalStudent }}%
           </h2>
           <h5 class="py-3 text-center f-12">International Student</h5>
         </div>
         <div class="col-lg-4 col-4 col-sm-4 p-4">
           <h2 class="light-blue-text text-center mob-height">
             {{ displayData.averageCost }}
           </h2>
           <h5 class="py-3 text-center f-12">Average Cost Of Study</h5>
         </div>
       </div>
     </div>
     <div class="row row-without-gutter bg-white my-2 border-radius">
     <div class="col-lg-12" *ngFor="let item of displayData.data">
       
         <div class="content" *ngIf="item.type === 'table'">
           <table
             class="table text-center table-hover table-responsive w-100 d-md-table"
             id="quick-table"
           >
             <thead>
               <tr>
                 <th *ngFor="let TableItems of item.col">
                   {{ TableItems }}
                 </th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let Tableitem of item.row">
                 <td *ngFor="let TableItems of item.col">
                   <p [innerHTML]="Tableitem[TableItems]"></p>
                 </td>
               </tr>
             </tbody>
           </table>
         </div>
        
        
          <div class="content"  *ngIf="item.type == 'img'">
           <img [src]="item.data" alt="" class="review-img custome-img" />
         </div>
        
        
         <div class="content" *ngIf="item.type == 'list-bollet'">
           <h2 class="light-blue-text" [innerHTML]="item.title"></h2>
           <p style="font-weight:bold;" [innerHTML]="item.info"></p>
           <p [innerHTML]="item.textBelowInfo"></p>
           <ul class="cust-padding">
             <li *ngFor="let Listitem of item.data" [innerHtml]="Listitem" ></li>
           </ul>
           <p [innerHTML]="item.heading"></p>
         </div>
        
        
         <div class="content" *ngIf="item.type == 'number-list'">
           <h2 class="light-blue-text" [innerHTML]="item.title"></h2>
           <p style="font-weight:bold;" [innerHTML]="item.info"></p>
   
           <ol style="margin-bottom: 0px" type="1">
             <li *ngFor="let numbetList of item.data">
               <a>{{ numbetList }}</a>
             </li>
           </ol>
         </div>
       
       <div
       
       *ngIf="item.type === 'text'">
       
         <div class="row row-without-gutter text-center mt-3">
          <h3 class="light-blue-text" id="title" [innerHTML]="item.title"></h3>
           <h3 class="light-blue-text" id="title" [innerHtml]="item.info"></h3>
         </div>
         <div class="row row-without-gutter">
           <div class="text p-4" [innerHtml]="item.data"></div>
         </div>
       </div>
      
       <div
       id="title"
         *ngIf="item.type === 'sm-card'"
       >
         <div class="row row-without-gutter text-center" id="itemT">
           <h3  class="light-blue-text" [innerHTML]="item.title"></h3>
           <p style="font-weight:bold;" [innerHTML]="item.info"></p>
         </div>
         <div class="row row-without-gutter">
           <div class="col-lg-4 blue-border" *ngFor="let sm of item.data">
             <div class="row row-without-gutter">
               <div class="col-lg-3 col-sm-3 border-right-blue">
                 <img
                   src="../../assets/img/Study_Content_Icons/2.Study_Destination/Capital.png"
                   alt=""
                   class="capital-img"
                 />
               </div>
               <div class="col-lg-9 col-sm-9 text-center pt-3">
                 <h5 class="light-blue-text" [innerHtml]="sm.title"></h5>
                 <h6 [innerHtml]="sm.info"></h6>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div
       
         *ngIf="item.type === 'icon-img'"
       >
         <div class="">
           <div class="container">
             <h2
               class="light-blue-text text-center py-3"
               [innerHtml]="item.title"
             ></h2>
             <div class="col-lg-12">
               <div class="row course-inner-div">
                 <div class="col-lg-2 col-sm-4 col-6" *ngFor="let ii of item.data">
                   <div class="part">
                     <img src="{{ ii.img }}" />
                     <h3 [innerHtml]="ii.title"></h3>
                     <p [innerHtml]="ii.info"></p>
                   </div>
                 </div>
                 <div class="col-lg-2 col-sm-4 col-6">
                   <div class="part">
                     <br /><br />
                     <h3>
                       <b>Discover<br />More</b>
                     </h3>
                     <!-- <p>3945 Colleges</p> -->
                     <!--  -->
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     
       <div
        
         *ngIf="item.type === 'bg-card'"
       >
         <div class="row row-without-gutter" id="itemT">
           <h4
             class="text-center light-blue-text my-3"
             [innerHtml]="item.title"
           ></h4>
           <p style="font-weight:bold;" [innerHTML]="item.info"></p>
         </div>
         <div class="row row-without-gutter">
           <div class="col-lg-3 col-sm-6" *ngFor="let bg of item.data">
             <div class="card">
               <img [src]="bg.backimg" alt="" class="like-img" />
               <div class="back-img"></div>
               <div class="middle-img">
                 <img [src]="bg.clgimg" alt="" />
               </div>
               <div class="">
                 <h2 class="light-blue-text colg-name" [innerHtml]="bg.title"></h2>
                 <h5 class="colg-place" [innerHtml]="bg.subtitle"></h5>
               </div>
               <div class="col-lg-12">
                 <div class="row row-without-gutter border-bottom">
                   <div class="col-lg-6 col-sm-6 col-6 border-right text-center">
                     <div class="f-text" [innerHtml]="bg.leftval"></div>
                     <div class="sec-text" [innerHtml]="bg.leftvalinfo"></div>
                   </div>
                   <div class="col-lg-6 col-sm-6 col-6 text-center">
                     <div class="f-text" [innerHtml]="bg.rightval"></div>
                     <div class="sec-text" [innerHtml]="bg.rightvalinfo"></div>
                   </div>
                 </div>
               </div>
               <div class="col-lg-12">
                 <div class="row py-3">
                   <div class="col-lg-3 col-3" *ngFor="let inn of bg.innerIcon">
                     <div class="small-img">
                       <img [src]="inn.img" width="30" alt="" />
                     </div>
                     <div class="small-img-text" [innerHtml]="inn.title"></div>
                   </div>
                 </div>
               </div>
               <div class="col-lg-12">
                 <div class="row row-custom-gutter">
                   <div
                     class="col-lg-6 col-6 bg-light-blue white-text-2 text-center"
                   >
                     <h5 class="app-now-text">APPLY NOW</h5>
                   </div>
                   <div class="col-lg-6 col-6 text-center">
                     <h5 class="brochure-text">BROCHURE</h5>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div class="row row-without-gutter" id="itemT">
           <p class="text-center light-blue-text my-3">
             See All Colleges In Canada
           </p>
         </div>
       </div>
       <div
        
         *ngIf="item.type === 'exam-card'"
       >
         <h2
           class="light-blue-text text-center py-3"
           [innerHtml]="item.title"
         ></h2>
         <p class="text-center" [innerHtml]="item.info"></p>
         <div class="col-lg-12">
           <div class="row-without-gutter row">
             <div class="col-lg-4 col-sm-6 col-12" *ngFor="let ex of item.data">
               <div class="card contact-card">
                 <div class="row m-0">
                   <div class="col-lg-12 text-center card-header p-0 cust-border">
                     <div class="row row-without-gutter">
                       <div class="col-lg-2 col-sm-2 col-2">
                         <img
                           src="../../assets/img/Study_Abroad_Icons/7.Study_Abroad_Exam/Logo.png"
                           alt=""
                           class="p-1 logo-img"
                         />
                       </div>
                       <div class="col-lg-10 col-sm-10 col-10 text-center pt-2">
                         <h5
                           class="white-text-2 mt-0 bold mb-0"
                           [innerHtml]="ex.title"
                         ></h5>
                         <p class="mb-0 white-text-2" [innerHtml]="ex.info"></p>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row p-3">
                   <p [innerHtml]="ex.text"></p>
                 </div>
                 <div class="row m-0">
                   <div class="card-footer cust-border-2">
                     <div class="row row-without-gutter mt-0">
                       <div class="col-lg-6 col-sm-6 col-6 text-center">
                         <button class="btn btn-blue w-100 white-text-2">
                           Apply Now
                         </button>
                       </div>
                       <div
                         class="col-lg-6 col-sm-6 col-6 text-center bg-white border-rad"
                       >
                         <button class="btn w-100">Registration</button>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div
        
         *ngIf="item.type === 'question-list'"
       >
         <div id="faq-tab" class="px-4">
           <p-accordion
             [multiple]="false"
             id="faq-collapse"
             expandIcon="pi pi-plus"
             collapseIcon="pi pi-minus"
           >
             <div class="col-lg-12 text-center">
               <h2 class="light-blue-text pt-3" [innerHtml]="item.title"></h2>
               <h6 [innerHtml]="item.info"></h6>
             </div>
             <p *ngFor="let ques of item.data">
               <p-accordionTab
                 [header]="ques.ques"
                 [selected]="false"
                 class="accordionTab"
               >
                 <ul>
                   <li>
                     <p style="font-weight: bold" [innerHtml]="ques.ans"></p>
                   </li>
                 </ul>
               </p-accordionTab>
             </p>
           </p-accordion>
         </div>
       </div>

       <div
         
         *ngIf="item.type === 'img-card'"
       >


       <div class="text-center mt-4 ">
        <div class="container">
          <div class="row-without-gutter row" id="flex">
            <h2
              class="light-blue-text text-center py-3"
              [innerHtml]="item.title"
            ></h2>
            <h6 [innerHtml]="item.info"></h6>
          </div>
          <owl-carousel-o [options]="carouselOptions2">
            <ng-template carouselSlide *ngFor="let image of item.data; let i = index">
              <div
              class="item study-div"
            >
              <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                <div class="text-center">
                  <img src="{{ image.img }}" class="pt-3 mx-auto d-block" />
                  <div class="img-text">
                    <h6 [innerHtml]="image.title"></h6>
                    <p class="light-blue-text">Explore More</p>
                  </div>
                </div>
                </div>
              </div>
            </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
       </div>
       <div
         class="row row-without-gutter my-2 blue-bg border-radius" id="flex"
         *ngIf="item.type === 'session-type'"
       >
         <div class="row row-without-gutter text-center p-4"  id="flex">
           <h5  id="flex" [innerHtml]="item.title"></h5>
           <p  id="flex" class="light-blue-text" [innerHtml]="item.info"></p>
         </div>
         <div  id="button" >
          <button class="btn btn-orange2 mx-auto d-block">
            Book Your FREE 30 Mins Session Now
          </button>
         </div>
       </div>
     </div>
     </div>
</div>
   </section>
   <app-chat></app-chat>
   <app-footer></app-footer>
   