.study-abroad-banner{
     // height:50vh ;
	box-shadow: inset 0 0 0 2000px rgb(88 147 235 / 6%);
	background-size:100% 100%;
     background-image: url('../../assets/img/Study_Content_Icons/1.Header/study-banner-img.png');
     // background-image: url('../../assets/img/Study_Content_Icons/1.Header/study-banner-img.png');
     background-repeat: no-repeat;
}
.study-abroad{
     background-color: #d7d4d4;
     padding-bottom: 10px;
}
.light-gray-bg{
     background-color: #e1e1e1;
     padding:1%
}
.my-2{
     margin-left: 1%;
     margin-right: 1%;
}
// .table-responsive {
//      display: table;
//  }
//  .table {
//      width:100%
// }
#itemT{
     justify-content:center;
}
.table {
     font-size: 16px !important;
    border: none !important;
    color: #333333;
    border-collapse: collapse;
    margin: 14px;
    width: 98% !important;
 }
 .table td, .table th {
     padding: 8px;
     text-align: center;
     font-size: 16px;
     vertical-align: baseline;
     border: 1px solid #595b5c;
 }
.border-radius{
     border-radius: 10px;
}
.study-abroad-header{
     padding: 5% 0%;
}
 .cust-border{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
 }
 .cust-border-2{
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
 }
 .contact-card{
      border-radius: 15px;
      border:1px solid gray;
      margin:9%;
      padding:0px !important
 }
 .card-header,
 .card-footer{
     background-color: #2d57a7;
 }
 .card-footer{
      padding: 0%;
 }
 form.exam-page-form{width:50%}
 form.exam-page-form input[type=text]{
     
          padding-left: 10px;
          padding:0;
          font-size: 14px;
          border: 1px solid transparent;
          float: left;
          height:4vh;
          width: 96%;
          background: #f1f1f1;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
 }
 form.exam-page-form button {
     float: left;
     width: 4%;
     background: #1c4dc3;
     color: white;
     font-size: 17px;
     border: 1px solid transparent;
     border-left: none;
     cursor: pointer;
     height: 4vh;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
 }
 .pill-div-course{
	background-color: transparent;
	 border: 1px solid orange; 
	color: orange;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 22px;
	font-size: 10px;
	font-weight: 900;
 }
 .flex-div{
      padding-top:10px;
	display: flex;
	 justify-content: center;
}
#flex{
     justify-content: center;
}
 .cust-padding{
     padding-right: 1%;
     padding-top: 5px !important;
 }
.title-text {
     text-align: center;
     overflow: hidden;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
     text-overflow: -o-ellipsis-lastline;
     font-size: 14px;
     line-height: 1em;
     top: 0;
     margin:0;
     left: 0;
     margin-top:20px;
     margin-bottom: 20px;
}
.title{
     align-items: flex-end;
     display: flex;
     flex-direction: row;
     position: relative;
     min-height: 40px;
     width: 25%;
     margin: 0px auto;
 }
 .btn-orange{
     background-color: #ff7500;
    color: #fff !important;
    border-radius: 20px;
    padding: 5px 17px;
    margin-top: 20px;
    margin-right: 20px;
}
.pl-3{
     padding-left: 3%;
}
.below-banner {
     padding:0% 3%;
}
.right-white-border{
     border-right: 1px solid #fff;
}
.text-orange{
     color:orangered
}
.text-blue{
     color:#1b4a85
}
.capital-img{
     width:100%;
     // border-right: 2px solid #1b4a85;
}
.border-right-blue{
     border-right: 2px solid #1b4a85;
     padding-right:10px;
}
.blue-border {
     border: 2px solid #1b4a85;
     margin: 1%;
     width: 25%;
     margin-left: 4%;
     margin-right: 4%;
     padding: 10px;
     border-radius: 5px;
}
.p-custom{
     padding-left: 15px;
     padding-right: 15px;
}
.middle-img{
     margin:0px auto;
     display: block;
     margin-top:0px;
     width:50%;
}
.back-img{
     background-image: url('../../assets/img/Study_Content_Icons/4.University_in_Canada/Image.png');
     height: 18vh;
     background-position: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     border:1px solid #000;
     border-radius: 5px;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
}
.middle-img img{
     width:50%;
     margin:0px auto;
     display: block;
     margin-top:-35px;
     border:1px solid;
     border-radius: 50%;
     background-color: #fff;
}
.bg-light-blue {
     background-color: #0c366a !important;
 }
.colg-name{
     font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
}
.colg-place{
     font-size: 10px;
     text-align: center;
}
.f-text{font-size: 10px;}
.sec-text{font-size: 7px;}
.small-img{
     margin:0px auto;
     text-align: center;
}
.small-img img{
     border-radius: 50%;
}
.small-img-text{
     font-size: 7px;
     text-align: center;
}
 .card{
     border-radius: 5px;
     border: 1px solid;
     padding: 5px;
     padding-bottom: 10px;
     width: 80%;
     margin: 3% auto;
     position: relative;
}
.like-img{
     position: absolute;
     width:6%;
     right:3%;
     top:3%;
}
.brochure-text{
     font-size: 14px;
     margin-bottom: 0px;
    line-height: normal;
    padding-top: 4px;
}
.app-now-text{
     font-size: 14px;
     margin-bottom: 0px;
    line-height: normal;
    padding: 5px;
}
.custom-padding-row{
     padding-left: 5px;
     padding-right: 5px;
}
.row-custom-gutter {
     --bs-gutter-x: 11px !important;
     --bs-gutter-y: 0 !important;
     border: 1px solid gray;
 }
 .border-rad{
     border-bottom-right-radius: 5px;
}
.logo-img {
    width:100%
}
// .study-div img{
//      width:70%
// }
.img-text{
     position: absolute;
     bottom: 12%;
     left: 35%;
    right: 35%;
}
.img-text p,.img-text h6{
     margin-bottom: 0px;
}
.img-text p{
     font-size: 12px;
}

.owl-next{
     position: absolute;
    left: 5%;
    top: 15%;
    bottom: 35%;
    font-size: 30px;
    color: #13477e;
}
.blue-bg{
     background-color: #8dc2f1;
}
.content{
     padding: 30px;
}
h2{
     text-align: left;
     color: rgba(31, 124, 241, 0.7490196078);
}
#title{
     margin-left: 1%;
}
h5{
     width: 100%;
}
#button{
     width: 88%;
    margin-top: -4%;
    justify-content: center;
    margin-bottom: 2%;
}
.btn-orange2 {
     background-color: #ff7500;
     color: #fff !important;
     border-radius: 20px;
     width: 30%;
 }
 @media only screen and (min-width:768px) and (max-width:1024px){
     .capital-img {
          padding-top: 15px;
      }
      .study-div {
          padding: 0% 10% !important;
      }
      .btn-orange2{
           width:50%;
      }
 }
 @media only screen and (max-width:767px){
     .flex-div {
          display: block;
      }
      .pill-div-course{
           display: inline-block;
      }
      .f-12{
           font-size: 12px;
      }
      .btn-orange2{
           width:100% !important;
      }
      .border-right-blue{
          border-bottom: 2px solid #1b4a85;
          padding-bottom: 10px;
          border-right:none !important;
          padding-right: 0px !important;
      }
      form.exam-page-form {
          width: 80%;
      }
      .mob-height{
           height: 8vh;
      }
 }
 .study-div{
      padding:0% 8%
 }

 //form css starts here
.form {
     background-color: #d7d4d4;
     padding-bottom: 10px;
   }
   
   .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 40%;
   }
   
   #thankyouform {
     margin-left: 0%;
     padding: 50px;
     margin-top: 1.5%;
     --border-size: 3px;
     --border-angle: 0turn;
   
     background-image: conic-gradient(from var(--border-angle),
         rgb(238, 233, 243),
         rgb(232, 232, 240) 50%,
         rgb(243, 241, 245)),
       conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
     background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
       cover;
     background-position: center center;
     background-repeat: no-repeat;
   
     animation: bg-spin 3s linear infinite;
   
     @keyframes bg-spin {
       to {
         --border-angle: 1turn;
       }
     }
   
     &:hover {
       animation-play-state: paused;
     }
   }
   
   @property --border-angle {
     syntax: "<angle>";
     inherits: true;
     initial-value: 0turn;
   
   }
   
   svg {
     color: green;
   }
   
  
   
   .flip {
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
   }
   
   .form-check-inline {
     margin-top: -16px;
   }
   
   label {
     margin-bottom: 0rem;
   }
   
   .form-input {
     font-size: 12px;
   }
   
   .modal-title {
     color: #0b4292;
     font-weight: 700;
   }
   
   .left-txt {
     margin-bottom: 0.4rem;
   }
   
   .form-card {
     background-color: white;
     padding: 20px;
     line-height: 97%;
     width: 155%;
     margin-top: 1.5%;
     --border-size: 3px;
     --border-angle: 0turn;
   
     background-image: conic-gradient(from var(--border-angle),
         rgb(238, 233, 243),
         rgb(232, 232, 240) 50%,
         rgb(243, 241, 245)),
       conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
     background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
       cover;
     background-position: center center;
     background-repeat: no-repeat;
   
     animation: bg-spin 3s linear infinite;
   
     @keyframes bg-spin {
       to {
         --border-angle: 1turn;
       }
     }
   
     &:hover {
       animation-play-state: paused;
     }
   }
   
   @property --border-angle {
     syntax: "<angle>";
     inherits: true;
     initial-value: 0turn;
   }
   
   .form-head {
     color: #0b4292;
     font-family: "Montserrat", sans-serif;
     font-size: 17px;
     font-weight: 700;
   }
   
   .card-left-text {
     margin-bottom: 0.8rem !important;
     font-size: 12px;
   }
   
   .sub-title {
     font-weight: 400;
   }
   
   .form-div {
     margin-top: 15px;
   }
   
   .shortlist-txt {
     font-size: 8px;
   }
   
   .shortlist-card {
     border-radius: 3px;
     height: 68px;
     padding: 3px;
   }
   
   .form-input {
     border-left: none !important;
     border-right: 1px solid #8c8d91 !important;
     border-top: 1px solid #8c8d91 !important;
     border-bottom: 1px solid #8c8d91 !important;
     border-radius: 0% !important;
   }
   
   input.form-control:focus {
     box-shadow: inset 0 -1px 0 #ddd;
   }
   
   .icon {
     border-right: none !important;
     border-top: 1px solid #8c8d91 !important;
     border-left: 1px solid #8c8d91 !important;
     border-bottom: 1px solid #8c8d91 !important;
     border-radius: 0% !important;
   }
   
   .close {
     float: right;
     background: none;
     border: none;
     font-size: 28px;
     height: 22px;
     margin-top: 5px;
     margin-right: 12px;
   }
   
   .terms {
     font-size: 10px;
     margin-top: 10px;
     font-family: "Montserrat", sans-serif;
   }
   
   .submit {
     //margin-top: 40px;
     background: #ffae47;
     color: white;
     font-weight: bold;
     font-family: "Montserrat", sans-serif;
   }
   
   .submit:hover {
     //margin-top: -5px;
     background: #ffae47;
     color: white;
     font-weight: bold;
   }
   
   .login-block {
     font-size: 12px;
   }
   
   .img-size {
     height: 50px;
     width: 45px;
   }
   
   .validation {
     color: red;
     font-size: 10px;
   }
   
   @media all and (max-width: 600px) {
     .submit {
       margin-top: 9px;
     }
   
     .container #thankyouform {
       align-items: center;
       margin-left: 0%;
     }
   
     .form {
       margin-top: 0%;
     }

     .form-card{
          //margin-left: -27%;
     }
   
   
   
   }
   
   @media all and (min-width: 700px) and (max-width: 992px) {
     .submit {
       font-size: 10px;
     }
     
   }
   
   .form {
     background-color: #d7d4d4;
     padding-bottom: 10px;
   }
   
   .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 40%;
   }
   
   .flip {
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
   }
   
   .modal-title {
     color: #0b4292;
     font-weight: 700;
   }
   
   .left-txt {
     margin-bottom: 0.4rem;
   }
   
   .form-card {
     background-color: white;
     padding: 20px;
     line-height: 97%;
   }
   
   .form-head {
     color: #0b4292;
     font-family: "Montserrat", sans-serif;
     font-size: 17px;
     font-weight: 700;
   }
   
   .card-left-text {
     margin-bottom: 0.8rem !important;
     font-size: 12px;
   }
   
   .sub-title {
     font-weight: 400;
   }
   
   .edu-title {
     font-weight: 600;
   }
   
   .form-div {
     margin-top: 8px;
   }
   
   .shortlist-txt {
     font-size: 8px;
   }
   
   .shortlist-card {
     border-radius: 3px;
     height: 68px;
     padding: 3px;
   }
   
   .form-input1 {
     border: 1px solid #8c8d91 !important;
     border-radius: 4px !important;
     height: 30px;
   }
   
   .score-input {
     border: 1px solid 8c8d91 !important;
     height: 30px;
   }
   
   input.form-control:focus {
     box-shadow: inset 0 -1px 0 #ddd;
   }
   
   .icon {
     border-right: none !important;
     border-top: 1px solid 8c8d91 !important;
     border-left: 1px solid 8c8d91 !important;
     border-bottom: 1px solid 8c8d91 !important;
     border-radius: 0% !important;
   }
   
   .close {
     float: right;
     background: none;
     border: none;
     font-size: 28px;
     height: 22px;
     margin-top: 5px;
     margin-right: 12px;
   }
   
   .terms {
     font-size: 11px;
     margin-top: 10px;
     font-family: "Montserrat", sans-serif;
     display: inline-flex;
   }
   
   .submit {
     //margin-top: 40px;
     background: #ffae47;
     color: white;
     // font-weight: bold;
     font-family: "Montserrat", sans-serif;
   }
   
   .back {
     margin-top: -5px;
     background: white;
     color: #ffae47;
     border: 1px solid #ffae47;
     // font-weight: bold;
     font-family: "Montserrat", sans-serif;
   }
   
   .back:hover {
     color: #ffae47;
     border: 1px solid #ffae47;
   }
   
   .submit:hover {
     //margin-top: -5px;
     background: #ffae47;
     color: white;
     // font-weight: bold;
   }
   
   .login-block {
     font-size: 12px;
   }
   
   .exam {
     margin-right: 27px;
   }
   
   .twelve {
     padding-top: 15px;
     font-weight: 400;
   }
   
   .tenth {
     padding-top: 0;
     font-weight: 400;
     margin-bottom: 0;
   }
   
   .img-size {
     height: 50px;
     width: 45px;
   }
   
   @media all and (max-width: 600px) {
     .submit {
       margin-top: 9px;
     }
     .form-card{
          width: 100%;
     }
   }
   
   @media all and (min-width: 700px) and (max-width: 992px) {
     .submit {
       font-size: 10px;
     }
   }
   @media all and (min-width: 600px) and (max-width: 767px) {
     .form-card{
          width: 100%;
     }
   }
   
   .form {
     background-color: #d7d4d4;
     padding-bottom: 10px;
   }
   
   .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 40%;
   }
   
   .flip {
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
   }
   
   .modal-title {
     color: #0b4292;
     font-weight: 700;
   }
   
   .left-txt {
     margin-bottom: 0.4rem;
   }
   
   .form-card {
     background-color: white;
     padding: 20px;
     line-height: 97%;
   }
   
   .form-head {
     color: #0b4292;
     font-family: "Montserrat", sans-serif;
     font-size: 17px;
     font-weight: 700;
   }
   
   .card-left-text {
     margin-bottom: 0.8rem !important;
     font-size: 12px;
   }
   
   .sub-title {
     font-weight: 400;
   }
   
   .edu-title {
     font-weight: 600;
   }
   
   .form-div {
     margin-top: 15px;
   }
   
   .shortlist-txt {
     font-size: 8px;
   }
   
   .shortlist-card {
     border-radius: 3px;
     height: 68px;
     padding: 3px;
   }
   
   .form-input {
     border-left: none !important;
     border-right: 1px solid #8c8d91 !important;
     border-top: 1px solid #8c8d91 !important;
     border-bottom: 1px solid #8c8d91 !important;
     border-radius: 0% !important;
     height: 30px;
   }
   
   .score-input {
     border: 1px solid #8c8d91 !important;
     height: 30px;
   }
   
   input.form-control:focus {
     box-shadow: inset 0 -1px 0 #ddd;
   }
   
   .icon {
     border-right: none !important;
     border-top: 1px solid #8c8d91 !important;
     border-left: 1px solid #8c8d91 !important;
     border-bottom: 1px solid #8c8d91 !important;
     border-radius: 0% !important;
   }
   
   .close {
     float: right;
     background: none;
     border: none;
     font-size: 28px;
     height: 22px;
     margin-top: 5px;
     margin-right: 12px;
   }
   
   .terms {
     font-size: 11px;
     margin-top: 10px;
     font-family: "Montserrat", sans-serif;
     display: inline-flex;
   }
   
   .submit {
     //margin-top: 40px;
     background: #ffae47;
     color: white;
     // font-weight: bold;
     font-family: "Montserrat", sans-serif;
   }
   
   .back {
     margin-top: -5px;
     background: white;
     color: #ffae47;
     border: 1px solid #ffae47;
     // font-weight: bold;
     font-family: "Montserrat", sans-serif;
   }
   
   .back:hover {
     color: #ffae47;
     border: 1px solid #ffae47;
   }
   
   .submit:hover {
     //margin-top: -5px;
     background: #ffae47;
     color: white;
     // font-weight: bold;
   }
   
   .login-block {
     font-size: 12px;
   }
   
   .exam {
     margin-right: 27px;
   }
   
   .img-size {
     height: 50px;
     width: 45px;
   }
   
   .validation {
     color: red;
     font-size: 10px;
   }
   
   @media all and (max-width: 600px) {
     .submit {
       margin-top: 9px;
     }
   
     .modal-header {
       flex-direction: column;
     }
   
     .modal-title {
       padding-left: 40px;
     }
    
     .container #hide {
       display: none;
     }
   
    #row{
     margin-left: 10px;
     margin-right: 10px;
    }
   
     #phone {
       margin-bottom: 15px;
     }
   
   
     .modal-title {
       display: none;
     }
   
     .sub-title {
       font-size: 10px;
     }
   
   }
   
   
   @media all and (min-width: 700px) and (max-width: 992px) {
     .submit {
       font-size: 10px;
     }
   }
   
   input[type=number]::-webkit-outer-spin-button,
   input[type=number]::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }
   
   input[type=number] {
     -moz-appearance: textfield;
   }
   //form css ends here
   