
<section class="mobile_ftr">
    <div class="container as">
    <div class="row">
      <div class="col-md-12 mobile_inner_footer">
    <div class="col-md-4 footer_mob_box1">
    <a href="https://api.whatsapp.com/send?phone=+919555120101 &amp;text=I want to apply for the current intake of UG/PG courses in India or Abroad" target="_blank" class="ftr_mb_href_clr"><i class="fa fa-whatsapp ftr_mb_href_clr" ></i> Whats App</a>
    </div>
    
    <div class="col-md-4 footer_mob_box2">
    <a href="mailto: info@selectyouruniversity.com" target="_blank" class="ftr_mb_href_clr"><i class="fa fa-envelope ftr_mb_href_clr" ></i> Email</a>
    </div>
    <div class="col-md-4 footer_mob_box3">
    <a href="tel:180030700033" target="_blank" class="ftr_mb_href_clr"><i class="fa fa-phone ftr_mb_href_clr"></i> Call </a>
    </div>
    </div>
    </div>
    </div>
    
    </section>

    