<section class="course">
    <div class="course-banner">
        <div class="col-lg-12">
            <div class="course-header text-center">
                <h1 class="white-text-2 mb-0">
                    Search From Over 10000 Courses In India
                </h1>
                <div class="col-lg-12">
                    <div class="row row-without-gutter">
                        <form class="exam-page-form d-block mx-auto" action="">
                            <input type="text" placeholder="Search Course " name="search2" />
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <!-- <div class="col-lg-12 text-center"> -->
                <div class="col-lg-12">
                    <div class="row row-without-gutter">
                        <div class="flex-div">
                            <p class="d-inline white-text-2  mb-0">
                                Trending Courses:
                            </p>
                            <div class="pill-div-course">BE/B.TECH Courses</div>
                            <div class="pill-div-course">MBBS Courses</div>
                            <div class="pill-div-course">B.Sc Courses</div>
                            <div class="pill-div-course">B.Com Courses</div>
                            <div class="pill-div-course">BA Courses</div>
                        </div>
                    </div>
                </div>

                <!-- </div> -->
            </div>
        </div>
        <div class="col-lg-12"></div>
    </div>
    <div class="reach">
        <div class="container w-100">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2 class="light-blue-text mt-4">Explore By Category</h2>
                    <h5>Browse 1000+ Courses In India</h5>
                </div>
            </div>

            <div class="col-lg-12 mb-5">
                <div class="row row-without-gutter">
                    <div class="col-lg-3 col-sm-6 contact-card-container">
                        <div class="card contact-card">
                            <div class="row m-0">
                                <div class="col-lg-12 text-center card-header px-0 cust-border">
                                    <img src="../../assets/img/Course_Icons/Explore_By_Category/Engineering.png" width="60" alt="" class="pt-3 icon-clr" />
                                    <h3 class="white-text-2 mt-0 bold">Engineering</h3>
                                </div>
                            </div>

                            <div class="row p-2 m-0 scroll">
                                <div class="col-12">
                                    <ul class="course-list">
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/bachelor-of-technology-btech"> B.Tech</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/engineering-in-poland">Engineering in Poland</a>
                                            </p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/engineering-in-ukraine">Engineering in
                      Ukraine</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/engineering-in-russia">Engineering in Russia</a>
                                            </p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/engineering-in-ireland">Engineering in
                      Ireland</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/engineering-in-germany">Engineering in
                      Germany</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="card-footer cust-border-2">
                                    <div class="text-center white-text">
                                        <p class="mb-0">View All</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 contact-card-container">
                        <div class="card contact-card">
                            <div class="row m-0">
                                <div class="col-lg-12 text-center card-header px-0 cust-border">
                                    <img src="../../assets/img/Course_Icons/Explore_By_Category/Medical.png" width="60" alt="" class="pt-3 icon-clr" />
                                    <h3 class="white-text-2 mt-0 bold">Medical</h3>
                                </div>
                            </div>

                            <div class="row p-2 m-0 scroll">
                                <div class="col-12">
                                    <ul class="course-list">
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-ukraine">MBBS in Ukraine</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-belarus">MBBS in Belarus</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-usa">MBBS in USA</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-uk">MBBS in UK</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-china">MBBS in China</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-new-zealand">MBBS in New Zealand</a>
                                            </p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-australia">MBBS in Australia</a>
                                            </p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-bulgaria">MBBS in Bulgaria</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-romania">MBBS in Romania</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-germany">MBBS in Germany</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-philippines">MBBS in Philippines</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-ireland">MBBS in Ireland</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs">MBBS in India</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-abroad">MBBS in Abroad</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-malta">MBBS in Malta</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-italy">MBBS in Italy</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-czech-republic">MBBS in Czech Republic</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-hungary">MBBS in Hungary</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-russia">MBBS in Russia</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-georgia">MBBS in Georgia</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-nepal">MBBS in Nepal</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-poland">MBBS in Poland</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-europe">MBBS in Europe</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-lithuania">MBBS in Lithuania</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-france">MBBS in France</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-austria">MBBS in Austria</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-bangladesh">MBBS in Bangladesh</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-kazakhstan">MBBS in Kazakhstan</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-kyrgyzstan">MBBS in Kyrgyzstan</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-armenia">MBBS in Armenia</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-uzbekistan">MBBS in Uzbekistan</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-latvia">MBBS in Latvia</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-malaysia">MBBS in Malaysia</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mbbs-in-canada">MBBS in Canada</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="card-footer cust-border-2">
                                    <div class="text-center white-text">
                                        <p class="mb-0">View All</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 contact-card-container">
                        <div class="card contact-card">
                            <div class="row m-0">
                                <div class="col-lg-12 text-center card-header px-0 cust-border">
                                    <img src="../../assets/img/Course_Icons/Explore_By_Category/management.png" width="60" alt="" class="pt-3 icon-clr" />
                                    <h3 class="white-text-2 mt-0 bold">Management </h3>
                                </div>
                            </div>

                            <div class="row p-2 m-0 scroll">
                                <div class="col-12">
                                    <ul class="course-list">
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/master-of-business-administration-mba">MBA</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/bachelor-of-business-administration-bba">BBA</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mba-in-uk">MBA in UK</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mba-in-ukraine">MBA in Ukraine</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mba-in-russia">MBA in Russia</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mba-in-poland">MBA in Poland</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mba-in-germany">MBA in Germany</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mba-in-ireland">MBA in Ireland</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mba-in-canada">MBA in Canada</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mba-in-new-zealand">MBA in New Zealand</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mba-in-australia">MBA in Australia</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/mba-in-malta">MBA in Malta</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="card-footer cust-border-2">
                                    <div class="text-center white-text">
                                        <p class="mb-0">View All</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 contact-card-container">
                        <div class="card contact-card">
                            <div class="row m-0">
                                <div class="col-lg-12 text-center card-header px-0 cust-border">
                                    <img src="../../assets/img/Course_Icons/Explore_By_Category/computer application.png" width="60" alt="" class="pt-3 icon-clr" />
                                    <h3 class="white-text-2 mt-0 bold">Computer Application</h3>
                                </div>
                            </div>

                            <div class="row p-2 m-0 scroll">
                                <div class="col-12">
                                    <ul class="course-list">
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/bachelor-of-computer-application-bca">BCA</a></p>
                                        </li>
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/master-of-computer-application-mca">MCA</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="card-footer cust-border-2">
                                    <div class="text-center white-text">
                                        <p class="mb-0">View All</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-5">
                <div class="row row-without-gutter">
                    <div class="col-lg-3 col-sm-6 contact-card-container">
                        <div class="card contact-card">
                            <div class="row m-0">
                                <div class="col-lg-12 text-center card-header px-0 cust-border">
                                    <img src="../../assets/img/Course_Icons/Explore_By_Category/Aviation.png" width="60" alt="" class="pt-3 icon-clr" />
                                    <h3 class="white-text-2 mt-0 bold">Aviation</h3>
                                </div>
                            </div>

                            <div class="row p-2 m-0 scroll">
                                <div class="col-12">
                                    <ul class="course-list">
                                        <li class="list-text-holder">
                                            <p class="list-text light-blue-text"><a href="/course/aviation-in-ukraine">Aviation in Ukraine</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="card-footer cust-border-2">
                                    <div class="text-center white-text">
                                        <p class="mb-0">View All</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<app-chat></app-chat>
<app-footer></app-footer>