.form {
  background-color: #d7d4d4;
  padding-bottom: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#thankyouform {
  margin-left: 40%;
  padding: 50px;
  margin-top: 1.5%;
//   --border-size: 3px;
//   --border-angle: 0turn;

//   background-image: conic-gradient(from var(--border-angle),
//       rgb(238, 233, 243),
//       rgb(232, 232, 240) 50%,
//       rgb(243, 241, 245)),
//     conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
//   background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
//     cover;
//   background-position: center center;
//   background-repeat: no-repeat;

//   animation: bg-spin 3s linear infinite;

//   @keyframes bg-spin {
//     to {
//       --border-angle: 1turn;
//     }
//   }

//   &:hover {
//     animation-play-state: paused;
//   }
// }

// @property --border-angle {
//   syntax: "<angle>";
//   inherits: true;
//   initial-value: 0turn;

// }
}

svg {
  color: green;
}

.col-lg-8 {
  margin-left: 20%;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.form-check-inline {
  margin-top: -16px;
}

label {
  margin-bottom: 0rem;
}

.form-input {
  font-size: 12px;
}

.modal-title {
  color: #0b4292;
  font-weight: 700;
}

.left-txt {
  margin-bottom: 0.4rem;
}

.form-card {
  background-color: #d7d4d4;
  padding: 20px;
  line-height: 97%;
  margin-top: 1.5%;
}
//   --border-size: 3px;
//   --border-angle: 0turn;

//   background-image: conic-gradient(from var(--border-angle),
//       rgb(238, 233, 243),
//       rgb(232, 232, 240) 50%,
//       rgb(243, 241, 245)),
//     conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
//   background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
//     cover;
//   background-position: center center;
//   background-repeat: no-repeat;

//   animation: bg-spin 3s linear infinite;

//   @keyframes bg-spin {
//     to {
//       --border-angle: 1turn;
//     }
//   }

//   &:hover {
//     animation-play-state: paused;
//   }
// }

// @property --border-angle {
//   syntax: "<angle>";
//   inherits: true;
//   initial-value: 0turn;
// }

.form-head {
  color: #0b4292;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.card-left-text {
  margin-bottom: 0.8rem !important;
  font-size: 12px;
}

.sub-title {
  font-weight: 400;
}

.form-div {
  margin-top: 15px;
}

.shortlist-txt {
  font-size: 8px;
}

.shortlist-card {
  border-radius: 3px;
  height: 68px;
  padding: 3px;
}

.form-input {
  border-left: none !important;
  border-right: 1px solid #8c8d91 !important;
  border-top: 1px solid #8c8d91 !important;
  border-bottom: 1px solid #8c8d91 !important;
  border-radius: 0% !important;
}

input.form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.icon {
  border-right: none !important;
  border-top: 1px solid #8c8d91 !important;
  border-left: 1px solid #8c8d91 !important;
  border-bottom: 1px solid #8c8d91 !important;
  border-radius: 0% !important;
}

.close {
  float: right;
  background: none;
  border: none;
  font-size: 28px;
  height: 22px;
  margin-top: 5px;
  margin-right: 12px;
}

.terms {
  font-size: 10px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.submit {
  margin-top: -2%;
  background: #ffae47;
  color: white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.submit:hover {
  //margin-top: -5px;
  background: #ffae47;
  color: white;
  font-weight: bold;
}

.login-block {
  font-size: 12px;
}

.img-size {
  height: 50px;
  width: 45px;
}

.validation {
  color: red;
  font-size: 10px;
}

@media all and (max-width: 600px) {
  .submit {
    margin-top: 9px;
  }

  .container #thankyouform {
    align-items: center;
    margin-left: 0%;
  }

  .form {
    margin-top: 0%;
  }

  .col-lg-8 {
    margin-left: 0%;
  }

}

@media all and (min-width: 700px) and (max-width: 992px) {
  .submit {
    font-size: 10px;
  }
}

.form {
  background-color: #d7d4d4;
  padding-bottom: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.modal-title {
  color: #0b4292;
  font-weight: 700;
}

.left-txt {
  margin-bottom: 0.4rem;
}

.form-card {
  background-color: #d7d4d4;
  padding: 20px;
  line-height: 97%;
}

.form-head {
  color: #0b4292;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.card-left-text {
  margin-bottom: 0.8rem !important;
  font-size: 12px;
}

.sub-title {
  font-weight: 400;
}

.edu-title {
  font-weight: 600;
}

.form-div {
  margin-top: 8px;
}

.shortlist-txt {
  font-size: 8px;
}

.shortlist-card {
  border-radius: 3px;
  height: 68px;
  padding: 3px;
}

.form-input1 {
  border: 1px solid #8c8d91 !important;
  border-radius: 4px !important;
  height: 30px;
}

.score-input {
  border: 1px solid 8c8d91 !important;
  height: 30px;
}

input.form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.icon {
  border-right: none !important;
  border-top: 1px solid 8c8d91 !important;
  border-left: 1px solid 8c8d91 !important;
  border-bottom: 1px solid 8c8d91 !important;
  border-radius: 0% !important;
}

.close {
  float: right;
  background: none;
  border: none;
  font-size: 28px;
  height: 22px;
  margin-top: 5px;
  margin-right: 12px;
}

.terms {
  font-size: 11px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  display: inline-flex;
}

.submit {
  //margin-top: 40px;
  background: #ffae47;
  color: white;
  // font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.back {
  margin-top: -5px;
  background: white;
  color: #ffae47;
  border: 1px solid #ffae47;
  // font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.back:hover {
  color: #ffae47;
  border: 1px solid #ffae47;
}

.submit:hover {
  //margin-top: -5px;
  background: #ffae47;
  color: white;
  // font-weight: bold;
}

.login-block {
  font-size: 12px;
}

.exam {
  margin-right: 27px;
}

.twelve {
  padding-top: 15px;
  font-weight: 400;
}

.tenth {
  padding-top: 0;
  font-weight: 400;
  margin-bottom: 0;
}

.img-size {
  height: 50px;
  width: 45px;
}

@media all and (max-width: 600px) {
  .submit {
    margin-top: 9px;
  }
}

@media all and (min-width: 700px) and (max-width: 992px) {
  .submit {
    font-size: 10px;
  }
}

.form {
  background-color: #d7d4d4;
  padding-bottom: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.modal-title {
  color: #0b4292;
  font-weight: 700;
}

.left-txt {
  margin-bottom: 0.4rem;
}

.form-card {
  background-color: #d7d4d4;
  padding: 20px;
  line-height: 97%;
}

.form-head {
  color: #0b4292;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.card-left-text {
  margin-bottom: 0.8rem !important;
  font-size: 12px;
}

.sub-title {
  font-weight: 400;
}

.edu-title {
  font-weight: 600;
}

.form-div {
  margin-top: 15px;
}

.shortlist-txt {
  font-size: 8px;
}

.shortlist-card {
  border-radius: 3px;
  height: 68px;
  padding: 3px;
}

.form-input {
  border-left: none !important;
  border-right: 1px solid #8c8d91 !important;
  border-top: 1px solid #8c8d91 !important;
  border-bottom: 1px solid #8c8d91 !important;
  border-radius: 0% !important;
  height: 30px;
}

.score-input {
  border: 1px solid #8c8d91 !important;
  height: 30px;
}

input.form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.icon {
  border-right: none !important;
  border-top: 1px solid #8c8d91 !important;
  border-left: 1px solid #8c8d91 !important;
  border-bottom: 1px solid #8c8d91 !important;
  border-radius: 0% !important;
}

.close {
  float: right;
  background: none;
  border: none;
  font-size: 28px;
  height: 22px;
  margin-top: 5px;
  margin-right: 12px;
}

.terms {
  font-size: 11px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  display: inline-flex;
}

.submit {
  //margin-top: 40px;
  background: #ffae47;
  color: white;
  // font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.back {
  margin-top: -5px;
  background: white;
  color: #ffae47;
  border: 1px solid #ffae47;
  // font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.back:hover {
  color: #ffae47;
  border: 1px solid #ffae47;
}

.submit:hover {
  //margin-top: -5px;
  background: #ffae47;
  color: white;
  // font-weight: bold;
}

.login-block {
  font-size: 12px;
}

.exam {
  margin-right: 27px;
}

.img-size {
  height: 50px;
  width: 45px;
}

.validation {
  color: red;
  font-size: 10px;
}

@media all and (max-width: 600px) {
  .submit {
    margin-top: 9px;
  }

  .modal-header {
    flex-direction: column;
  }

  .modal-title {
    padding-left: 40px;
  }

  .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: center;
  }

  .container #hide {
    display: none;
  }

  .container .col-lg-8 {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  #phone {
    margin-bottom: 15px;
  }


  .modal-title {
    display: none;
  }

  .sub-title {
    font-size: 10px;
  }

}

@media all and (min-width: 700px) and (max-width: 992px) {
  .submit {
    font-size: 10px;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}