.footer-nav-link {
    text-decoration: none;
    color: #fff;
    // font-size: 75%  
}

.footer-nav-header {
    color: #fff;
    text-decoration: none;
}

.contact-details {
    padding: 5%;
    padding-top: 0px;

}

.fa-phone,
.fa-envelope {
    padding-right: 10px;
}

.contact-details a {
    text-decoration: none;
    color: #fff;
}

.add-div .add {
    float: right;
    padding-left: 10px;
    text-align: left;
}

.add-div .left-icon {
    float: left;
    padding-top: 5px
}

.footer-img {
    height: 24px !important;
    margin-right: 3px;
    margin-left: -20px;
}

.add-div .add {
    padding-left: 2px;
}

// .row{
//     margin-left: -50px;
// }

// @media only screen and (min-width:961px) and (max-width: 1199px)

@media only screen and (min-width:766px) and (max-width: 954px) {
    .member1 img{
        width: 130px;
        margin-left: 9px;
    }
}
@media only screen and (min-width:766px) and (max-width: 853px) {
   .contact-details img{
      margin-left: -40px;
   }
   .member1 img{
      width: 110px;
      margin-left: 2px;
    }


}

@media only screen and (max-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1300px;
    }

    .footer3 h4 {
        font-size: 12px !important;
    }

    .add-div .add {
        font-size: 12px !important;
    }
}

@media only screen and (min-width:1150px) and (max-width: 1217px) {
    .footer-img {
        height: 20px !important;

    }

    .footer3 h4 {
        font-size: 12px !important;
    }
}

@media only screen and (min-width:900px) and (max-width: 1150px) {
    .pt-4 {

        padding-left: 2rem;
    }

    .footer3 h4 {
        font-size: 12px !important;
    }

}

@media only screen and (min-width:800px) and (max-width: 900px) {
    .pt-4 {
        padding-left: 3rem;
    }

    .footer3 h4 {
        font-size: 12px !important;
    }
}

@media only screen and (min-width:576px) and (max-width: 734px) {
    .footer3 h4 {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 315px) {
    .footer3 h4 {
        font-size: 12px !important;
    }
}

.add-div,
.add {
    margin-top: -3px !important;
}

@media only screen and (min-width:982px) and (max-width: 1050px) {
    .footer3 h4 {
        font-size: 11px !important;
    }
}

@media only screen and (min-width:px) and (max-width: 982px) {
    .footer3 h4 {
        font-size: 11px !important;
    }
}

@media only screen and (min-width:768px) and (max-width: 800px) {
    .pt-4 {
        padding-left: 3rem;
    }
}

@media only screen and (min-width:768px) and (max-width: 982px) {
    .footer3 h4 {
        font-size: 10px !important;
    }
}


@media only screen and (max-width: 575px) {
    .pt-4, .py-4 {
        padding-top: 0rem !important;
        margin-left: 22px;
    }
    .footer3 .nav-link {
        text-align: center;
        padding-bottom: 2.5rem;
    }
    .getintouch, .follow-us-div {
        text-align: center;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width:575px) and (max-width: 767px){
    .pt-4, .py-4 {
        padding-left: 2rem;
    }
}

#thankyouform{
    margin-left: 16%;
  }
  svg{
    color: green;
  }

  *{
    box-sizing:border-box;
   /* outline:1px solid ;*/
  }
  body{
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%,#e1e8ed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e8ed',GradientType=0 );
      height: 100%;
          margin: 0;
          background-repeat: no-repeat;
          background-attachment: fixed;
    
  }
  .content{
    margin-bottom: 5%;
    margin-top: 10%;
  }
  
  .wrapper-1{
    width:100%;
    //height:50vh;
    display: flex;
  flex-direction: column;
  }
  .wrapper-2{
    padding :30px;
    text-align:center;
  }
  h1{
      font-family: 'Kaushan Script', cursive;
    font-size:4em;
    letter-spacing:3px;
    color:#151516 ;
    margin:0;
    margin-bottom:20px;
  }
  .wrapper-2 p{
    margin:0;
    font-size:1.3em;
    color:#aaa;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing:1px;
    margin-top: 5%;
  }
  .go-home{
    color:#fff;
    background:#5892FF;
    border:none;
    padding:10px 50px;
    margin:30px 0;
    border-radius:30px;
    text-transform:capitalize;
    box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
  }
  .footer-like{
    margin-top: auto; 
    background:#D7E6FE;
    padding:6px;
    text-align:center;
  }
  .footer-like p{
    margin:0;
    padding:4px;
    color:#5892FF;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing:1px;
  }
  .footer-like p a{
    text-decoration:none;
    color:#5892FF;
    font-weight:600;
  }
  
  @media (min-width:360px){
    h1{
      font-size:4.5em;
    }
    .go-home{
      margin-bottom:20px;
    }
  }
  
  @media (min-width:600px){
    .content{
    max-width:1000px;
    margin:0 auto;
    margin-bottom: 5%;
    margin-top: 10%;
  }
    .wrapper-1{
    height: initial;
    max-width:620px;
    margin:0 auto;
    margin-top:50px;
    box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
  }
    
  }

  