<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link href='https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:700' rel='stylesheet' type='text/css'>
<style>
  @import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
  @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
</style>
<link rel="stylesheet" href="thankyou-page.component.scss">
<script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/jquery-1.9.1.min.js"></script>
<script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/html5shiv.js"></script>
<script>
  gtag('event', 'conversion', { 'send_to': 'AW-817413719/Gj4FCKypmpgYENf84oUD' });
</script>
<div class=content>
  <div class="wrapper-1">
    <div class="wrapper-2">
      <h1>Thank you !</h1>
      <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75" fill="currentColor"
        class="bi bi-check-circle-fill" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
      </svg>
      <p>Thanks a bunch for filling that out. It means a lot to us, just like you do! We really appreciate you giving us
        a moment of your time today. Thanks for being you. </p>
        
  </div>
</div>
</div>


<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
<section id="UniversitySection">
  <div class="container">
  <div class="row">
  <div class="col-sm-12">
  <div class="study-abroad">
  <h2>Looking to Study Abroad?</h2>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/study-abroad/ukraine.jpg" class="img-fluid" alt="ukraine"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>Study in Ukraine</p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/study-in-ukraine" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/study-abroad/russia.jpg" class="img-fluid" alt="russia"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>Study in Russia</p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/study-in-russia" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/study-abroad/poland.jpg" class="img-fluid" alt="poland"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>Study in Poland</p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/study-in-poland" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/study-abroad/usa.jpg" class="img-fluid" alt="usa"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>Study in USA</p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/study-in-usa" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/study-abroad/canada.jpg" class="img-fluid" alt="canada"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>Study in Canada</p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/study-in-canada" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/study-abroad/belarus.jpg" class="img-fluid" alt="belarus"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>Study in Belarus</p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/study-in-belarus" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/study-abroad/china.jpg" class="img-fluid" alt="china"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>Study in China</p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/study-in-china" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/study-abroad/ireland.jpg" class="img-fluid" alt="ireland"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>Study in Ireland</p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/study-in-ireland" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/study-abroad/australia.jpg" class="img-fluid" alt="australia"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>Study in Australia</p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/study-in-australia" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  <section id="UniversitySection">
  <div class="container">
  <div class="row">
  <div class="col-sm-12">
  <div class="mbbs-abroad">
  <h2> MBBS Abroad?</h2>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/mbbs-abroad/ukraine.jpg" class="img-fluid" alt="ukraine"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>MBBS in Ukraine<br> <span>Fees: Rs. 3.15 Lakhs/Year <br>Total Universities: 19 </span></p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/course/mbbs-in-ukraine" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/mbbs-abroad/poland.jpg" class="img-fluid" alt="poland"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>MBBS in Poland<br> <span>Fees: Rs. 2.20 Lakhs/Year <br>Total Universities: 11 </span></p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/course/mbbs-in-poland" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/mbbs-abroad/georgia.jpg" class="img-fluid" alt="georgia"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>MBBS in Georgia<br> <span>Fees: Rs.2.52 Lakhs/Year<br>Total Universities: 19 </span></p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/course/mbbs-in-georgia" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/mbbs-abroad/russia.jpg" class="img-fluid" alt="russia"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>MBBS in Russia<br> <span>Fees: ₹ 3.15 Lakhs/Year<br>Total Universities: 51 </span></p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/course/mbbs-in-russia" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/mbbs-abroad/bangladesh.jpg" class="img-fluid" alt="bangladesh"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>MBBS in Bangladesh<br> <span>Fees: Rs. 4.62 Lakhs/Year <br>Total Universities: 6 </span></p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/course/mbbs-in-bangladesh" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/mbbs-abroad/nepal.jpg" class="img-fluid" alt="nepal"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>MBBS in Nepal<br> <span>Fees: Rs. 8.10 Lakhs/ Year <br>Total Universities: 5 </span></p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/course/mbbs-in-nepal" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/mbbs-abroad/philippines.jpg" class="img-fluid" alt="philippines"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>MBBS in Philippines<br> <span>Fees: Rs.2.27 Lakhs/Year<br>Total Universities: 11 </span></p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/course/mbbs-in-philippines" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/mbbs-abroad/kazakhstan.jpg" class="img-fluid" alt="kazakhstan"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>MBBS in Kazakhstan<br> <span>Fees: Rs. 2 Lakhs/Year <br>Total Universities: 10 </span></p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/course/mbbs-in-kazakhstan" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4">
  <div class="box-holder">
  <div class="box-image">
  <img src="images/mbbs-abroad/kyrgyzstan.jpg" class="img-fluid" alt="kyrgyzstan"/>
  </div>
  <div class="box-details">
  <div class="fees-Total Universities">
  <p>MBBS in Kyrgyzstan<br> <span>Fees: Rs.3.50 Lacs/Year <br>Total Universities: 6</span></p>
  </div>
  <div class="button-universities">
  <a href="https://www.selectyouruniversity.com/course/mbbs-in-kyrgyzstan" target="_blank" class="read-more">Read More</a>
  </div>
  <div class="button-universities1 btn1">
  <a href="#" >Apply Now</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>




<div class="footer">
  <div class="container-fluid">

    <div class="row" id="row">
      <div class="col-md-2 footer-custom-div col-sm-5">
        <div class="member1">
          <h4>Quick Links</h4>
          <a routerLink="/about-us/." href="/about-us/." class="footer-nav-link">
            <p>About Us</p>
          </a>
          <!--<a routerLink="/about-us" href="/#/about-us" class="footer-nav-link"><p>Management Team</p></a>
                     <a routerLink="/about-us" href="/#/about-us" class="footer-nav-link"><p>SYU Authors </p></a>
                     <a routerLink="/about-us" href="/#/about-us" class="footer-nav-link"><p>Careers</p></a>-->
          <a routerLink="/faq/." href="/faq/." class="footer-nav-link">
            <p>FAQs</p>
          </a>
          <a class="footer-nav-link" routerLink="/contact-us/." href="/contact-us/.">
            <p>Contact Us</p>
          </a>
          <a class="footer-nav-link" routerLink="/services/." href="/services/.">
            <p>Services</p>
          </a>
          <a class="footer-nav-link" routerLink="/disclaimer/." href="/disclaimer/.">
            <p>Disclaimer</p>
          </a>
          <a class="footer-nav-link" routerLink="/privacy/." href="/privacy/.">
            <p>Privacy</p>
          </a>
        </div>
      </div>
      <div class="col-md-2 footer-custom-div col-sm-5">
        <div class="member1">
          <h4><a href="/exams/." class="footer-nav-header" routerlink="/exams/.">Exams</a></h4>
          <a href="/exams/neet-pg-exam/." class="footer-nav-link" routerLink="/exams/neet-pg-exam/.">
            <p>NEET PG</p>
          </a>
          <a href="/exams/neet-ug-exam/." class="footer-nav-link" routerLink="/exams/neet-ug-exam/.">
            <p>NEET UG</p>
          </a>
          <a href="/exams/fmge-exam/." class="footer-nav-link" routerLink="/exams/fmge-exam/.">
            <p>NEXT</p>
          </a>
          <a href="/exams/international-foundation-of-medicine-ifom/." class="footer-nav-link"
            routerLink="/exams/international-foundation-of-medicine-ifom/.">
            <p>IFOM</p>
          </a>
        </div>
      </div>
      <div class="col-md-2 footer-custom-div col-sm-5">
        <div class="member1">
          <h4>Courses</h4>
          <a href="/course/mbbs-in-russia/." class="footer-nav-link" routerLink="/course/mbbs-in-russia/.">
            <p>MBBS in Russia</p>
          </a>
          <a href="/course/mbbs-in-georgia/." class="footer-nav-link" routerLink="/course/mbbs-in-georgia/.">
            <p>MBBS in Georgia</p>
          </a>
          <a href="/course/mbbs-in-kyrgyzstan/." class="footer-nav-link" routerLink="/course/mbbs-in-kyrgyzstan/.">
            <p>MBBS in Kyrgyzstan</p>
          </a>
          <a href="/course/mbbs-in-kazakhstan/." class="footer-nav-link" routerLink="/course/mbbs-in-kazakhstan/.">
            <p>MBBS in Kazakhstan</p>
          </a>
          <a href="/course/mbbs-in-nepal/." class="footer-nav-link" routerLink="/course/mbbs-in-nepal/.">
            <p>MBBS in Nepal</p>
          </a>
          <a href="/course/mbbs-in-philippines/." class="footer-nav-link" routerLink="/course/mbbs-in-philippines/.">
            <p>MBBS in Phillippines</p>
          </a>
          <a href="/course/mbbs-in-uzbekistan/." class="footer-nav-link" routerLink="/course/mbbs-in-uzbekistan/.">
            <p>MBBS in Uzbekistan</p>
          </a>
        </div>
      </div>
      <div class="col-md-2 footer-custom-div col-sm-5">
        <div class="member1">

          <!-- 
                    {
                      path: 'study-in-australia',
                      loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
                    },
                    {
                      path: 'study-in-usa',
                      loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
                    },  {
                      path: 'study-in-poland',
                      loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
                    },  {
                      path: 'study-in-belarus',
                      loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
                    },  {
                      path: 'study-in-russia',
                      loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
                    },
                    {
                      path: 'study-in-china',
                      loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
                    },
                    {
                      path: 'study-in-ukraine',
                      loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
                    },  {
                      path: 'study-in-ireland',
                      loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
                    },  {
                      path: 'study-in-uk',
                      loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
                    },  {
                      path: 'study-in-canada',
                      loadChildren:()=> import( './study-content/study-content.module').then(x=>x.StudyContentModule)
                    }, -->


          <h4>Top Countries</h4>
          <a href="/study-in-australia/." class="footer-nav-link" routerLink="/study-in-australia/.">
            <p> Study in Australia</p>
          </a>
          <a href="/study-in-usa/." class="footer-nav-link" routerLink="/study-in-usa/.">
            <p> Study in USA</p>
          </a>
          <a href="/study-in-ireland/." class="footer-nav-link" routerLink="/study-in-ireland/.">
            <p> Study in Ireland</p>
          </a>
          <a href="/study-in-belarus/." class="footer-nav-link" routerLink="/study-in-belarus/.">
            <p> Study in Belarus</p>
          </a>
          <a href="/study-in-russia/." class="footer-nav-link" routerLink="/study-in-russia/.">
            <p> Study in Russia</p>
          </a>
          <a href="/study-in-china/." class="footer-nav-link" routerLink="/study-in-china/.">
            <p> Study in China</p>
          </a>
          <a href="/study-in-ukraine/." class="footer-nav-link" routerLink="/study-in-ukraine/.">
            <p>Study in Ukraine</p>
          </a>
          <a href="/study-in-poland/." class="footer-nav-link" routerLink="/study-in-poland/.">
            <p> Study in Poland</p>
          </a>
          <a href="/study-in-canada/." class="footer-nav-link" routerLink="/study-in-canada/.">
            <p> Study in Canada</p>
          </a>
          <a href="/study-in-uk/." class="footer-nav-link" routerLink="/study-in-uk/.">
            <p> Study in UK</p>
          </a>
        </div>
      </div>
      <!--<div class="col-md-2 footer-custom-div col-sm-5">
                  <div class="member1">
                    <h4>Countries</h4>
                    <p>Study in USA</p>
                    <p>Study in Canada</p>
                    <p>Study in Australia</p>
                    <p>Study in UK</p>
                    <p>Study in New Zealand</p>
                    <p>Study in France</p>
                    <p>Study in Ireland</p>
                    <p>Study in Germany</p>
                    <p>Explore all countries</p>
                  </div>
                </div>-->

      <!--<div class="col-md-2 footer-custom-div col-sm-5">
                  <div class="member1">
                    <h4><a href="" class="footer-nav-header" routerlink="/exams">Exams</a></h4>
                    <p>GMAT</p>
                    <p>GRE</p>
                    <p>IELTS</p>
                    <p>PTE</p>
                    <p>SAT</p>
                    <p>TOEFL</p>
                    <p>Which exam to give?</p>
                    <p>IELTS v/s TOEFL v/s PTE?</p>
                  </div>
                </div>-->

      <!--<div class="col-md-2 footer-custom-div col-sm-5">
                  <div class="member1">
                    <h4>Colleges</h4>
                    <p>MBA Colleges</p>
                    <p>MS Colleges</p>
                    <p>BE/BTech Colleges</p>
                    <p>BBA Colleges</p>
                    <p>Masters in Hospitality</p>
                    <p>Masters in Journalism</p>
                  </div>
                </div>
        
        
                <div class="col-md-2 footer-custom-div col-sm-5">
                  <div class="member1">
                    <h4>Apply</h4>
                    <p>SYU Counseling Service</p>
                    <p>SOP</p>
                    <p>SOP Samples</p>
                    <p>LOR</p>
                    <p>LOR Samples</p>
                    <p>Student Visa</p>
                    <p>Admission Essays</p>
                  </div>
                </div>-->

    </div>
  </div>
</div>



<div class="footer3">
  <div class="container">

    <div class="row">
      <div class="col-md-2 col-sm-5">
        <div class="member1">
          <a href="" class="nav-link" routerlink="">
            <img src="../../assets/img/Home Page/7. Footer/SYU-Logo.png" alt="" width="150" class="d-inline pt-3 ml-0">
          </a>
        </div>
      </div>

      <div class="col-md-3 col-sm-5 pt-4">
        <div class="contact-details">
          <h4>
            <!-- <i class="fa fa-phone left-icon"></i> -->
            <a href="tel:+919555120101"> <img src="../../assets/img/Phone.png" width="20" class="footer-img"> +91
              9555120101</a>
          </h4>
          <h4>
            <!-- <i class="fa fa-envelope left-icon"></i> -->
            <a href="mailto:info@selectyouruniversity.com"> <img src="../../assets/img/Mail (1).png" width="20"
                class="footer-img"> info@selectyouruniversity.com</a>

          </h4>
          <!-- <input type="text" placeholder="Your Email Id Here" class="d-inline getintouch-textbox bg-white" > -->
        </div>
      </div>

      <div class="col-md-3 col-sm-5 pt-4">
        <div class="contact-details">

          <!-- <i class="fas fa-map-marker-alt left-icon"></i> -->

          <div class="white-text-2 add-div d-flex">
            <!-- <i class="fas fa-map-marker-alt left-icon"></i> -->
            <img src="../../assets/img/Address (1).png" width="20" class="footer-img">
            <div class="add">3FCS-05, Ansal plaza, opposite Dabur Chowk,
              Sector-1, Near- Income Tax Office,
              Vaishali, Ghaziabad, Uttar Pradesh - 201010</div>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-5 text-center pt-4">
        <div class="follow-us-div">
          <h4>Follow Us</h4>
          <a href=" https://www.facebook.com/SelectyouruniversityIndia/" target="_blank" class=" white-text-2">
            <img src="../../assets/img/Home Page/7. Footer/Follow us/Facebook.png" width="20">
          </a>
          <a href=" https://youtube.com/c/SelectYourUniversity" target="_blank" class=" white-text-2">
            <img src="../../assets/img/Home Page/7. Footer/Follow us/You-Tube.png" width="20">
          </a>
          <a href="https://api.whatsapp.com/send?phone=+919555120101%20&text=I%20want%20to%20apply%20for%20the%20current%20intake%20of%20UG/PG%20courses%20in%20India%20or%20Abroad"
            class=" white-text-2">
            <img src="../../assets/img/Home Page/7. Footer/Follow us/Whats-App.png" width="20">
          </a>
          <a href=" https://www.instagram.com/selectyouruniversity/" target="_blank" class=" white-text-2">
            <img src="../../assets/img/Home Page/7. Footer/Follow us/Instagram.png" width="20">
          </a>
          <a href="https://in.pinterest.com/selectyouruniversity/" target="_blank" class=" white-text-2">
            <img src="../../assets/img/Home Page/7. Footer/Follow us/Pinterest.png" width="20">
          </a>
          <a href=" https://twitter.com/mbbsconsultant" target="_blank" class=" white-text-2">
            <img src="../../assets/img/Home Page/7. Footer/Follow us/Tweeter.png" width="20">
          </a>
        </div>
      </div>


    </div>
  </div>
</div>
<div class="footer4">
  <div class="container">

    <div class="row">
      <!-- <div class="col-lg-12"> -->
      <!--<div class="col-md-5 col-sm-5">
                  <div class="member1 white-text-2 pt-2">
                    <p style="font-size: 9px;">Grievances • Notices/Summons • Privacy • Terms & Conditons</p>
        
                  </div>
                </div>-->

      <div class="col-md-7 col-sm-5 ">
        <div class="member1 white-text-2 pt-2 text-right">
          <p style="font-size: 9px;">Select Your University © 2022-23. All Rights Reserved.</p>
        </div>
      </div>


    </div>
  </div>
</div>