
<section class="services">
     <div class="services-banner">
          <div class="col-lg-12">
               <div class="service-page-header text-center">
                         <h1 class="white-text-2">Our Services</h1>
               </div>
          </div>
          <div class="col-lg-12">
               <div class="service-page-breadcrumb text-center">
                                   <a href="" routerLink="" class="home">
                                        <img src="../../assets/img/services_page/Our_Services/Home.png" alt="" class="home-img">
                                   </a>
                                   <a href="" class="arrow">
                                        <img src="../../assets/img/services_page/Our_Services/Arrow.png" alt="" class="arrow-img" >
                                   </a>
                                   <a href="" routerLink="" class="service-link">
                                        <h5 class="white-text-2">Our Services</h5>
                                   </a>
               </div>
          </div>
     </div>
     <div class="col-lg-12 col-12">
          <div class="free-counselling">
                    <div class="row row-without-gutter">
                         <div class="col-lg-5 col-5"> </div>
                         <div class="col-lg-7 col-7 text-center free-counselling-text"> 
                              <h3 class="services-header white-text-2">Free Counseling</h3>
                              <p class="white-text-2 text-justify">Select Your University has a team of expert and trained counselors who help students for their self assessment. We guide students to identify their needs and professional goals so that they can choose a perfect course for themselves and can accomplish their career goal.</p>
                         </div>
                    </div>
          </div>
     </div>
     <div class="col-lg-12 col-12">
          <div class="admission-process">
                    <div class="row row-without-gutter">
                         <div class="col-lg-7 col-7 text-center admission-process-text"> 
                              <h3 class="services-header white-text-2">Admission Process</h3>
                              <p class="white-text-2 text-justify">According to the needs and requirements of an individual student, 'Select Your University' help them to select the right university across the world. Choosing a right university according to one's needs is an important job and we guide you with it and we help you to apply to these universities. Students getting an invitation letter from universities where they have applied is a success for us and we have high success rate for this.

                                   The admission process can be often long and stressful. Hence, in such situations our counselors become your friends and they advice you and guide you to make the admission process stress free and easy.</p>
                         </div>
                         <div class="col-lg-5 col-5"> </div>
                    </div>
          </div>
     </div>
     <div class="col-lg-12 col-12">
          <div class="documentation">
                    <div class="row row-without-gutter">
                         <div class="col-lg-5 col-5"> </div>
                         <div class="col-lg-7 col-7 text-center documentation-text"> 
                              <h3 class="services-header white-text-2">Documentation Assistance</h3>
                              <p class="white-text-2 text-justify">I. Passport assistance
                                   'Select Your University' helps you and guides you throughout the process of passport application. If you have the admission letter with you then you can get the passport on urgent basis. We at 'SelectYourUniversity' will provide you that admission letter. <br>
                                   
                                   II. Legalization of documents
                                   We will help you with all the documentation procedures which are required to complete the admission procedure, attestations of documents, translation of documents etc.</p>
                         </div>
                    </div>
          </div>
     </div>
     <div class="col-lg-12 col-12">
          <div class="visa">
                    <div class="row row-without-gutter">
                         
                         <div class="col-lg-7 col-7 text-center visa-text"> 
                              <h3 class="services-header white-text-2">Student Visa Guidance</h3>
                              <p class="white-text-2 text-justify">It is always a tiresome and lengthy process to get a visa or a passport. Our counselors have all the knowledge in this regards and they can guide you with all the required formalities. There is a professional method, which is followed at 'SelectYourUniversity' which helps to move your papers ahead more quickly which will help you to get your visa earlier.</p>
                         </div>
                         <div class="col-lg-5 col-5"> </div>
                    </div>
          </div>
     </div>
     <div class="col-lg-12 col-12">
          <div class="loan">
                    <div class="row row-without-gutter">
                         <div class="col-lg-5 col-5"> </div>
                         <div class="col-lg-7 col-7 text-center loan-text"> 
                              <h3 class="services-header white-text-2">Education Loan</h3>
                              <p class="white-text-2 text-justify">Getting your education loans approved is also a tedious job. 'SelectYourUniversity' helps you with all the necessary documentations required for getting your education loans approved.</p>
                         </div>
                    </div>
          </div>
     </div>
     <div class="col-lg-12 col-12">
          <div class="visa">
                    <div class="row row-without-gutter">
                         
                         <div class="col-lg-7 col-7 text-center visa-text"> 
                              <h3 class="services-header white-text-2"> Pre - Departure Guidance</h3>
                              <p class="white-text-2 text-justify">Apart from helping with the passport, visa, admission etc. Our counselor will help you with all the ins and outs of the country where you are going. They will also provide you some traveling guidelines, as it might be the case that many of the students may be traveling such a distance by plane for the first time. It is also necessary to understand the culture, lifestyle, people, language and many more such basic things of the country where you are going to live and study. Knowing about the place before you actually start living in the country is a very important thing. We, at Select Your University meet you personally and guide you and sort out your issues if any before your departure date.</p>
                         </div>
                         <div class="col-lg-5 col-5"> </div>
                    </div>
          </div>
     </div>
     <div class="col-lg-12 col-12">
          <div class="loan">
                    <div class="row row-without-gutter">
                         <div class="col-lg-5 col-5"> </div>
                         <div class="col-lg-7 col-7 text-center loan-text"> 
                              <h3 class="services-header white-text-2">Forex Assistance</h3>
                              <p class="white-text-2 text-justify">At 'SelectYourUniversity' we assist our students for getting their currency exchanged. Our contacts with some foreign exchange companies will help you students to get the best exchange rates. To make sure that the foreign exchange of currency is hassle free, 'SelectYourUniversity' helps its students to issue debit cards, demand drafts, currency notes etc.</p>
                         </div>
                    </div>
          </div>
     </div>
     <!-- <div class="col-lg-12">
          <div class="enquiry-div">
               <div class="row row-without-gutter">
                    <div class="col-lg-6 col-12 text-center">
                         <h6 class="white-text-2">GET CONSULTATION FAST</h6>
                         <h4 class="orange-text-2">Free Consulting</h4>
                         <h4 class="white-text-2 get-opp">Get Opportunity</h4>
                    </div>
                    <div class="col-lg-6 col-12 text-center">
                         <div class="enqiry-btn-div">
                              <button class="btn btn-orange"> Enquiry Now</button>
                         </div>
                    </div>
               </div>
          </div>
     </div> -->

     <div class="form col-12">
    
          <div class="container">
            <!-- Left Card -->
            <div class="row" id="row">
              
        
              <!-- Right Card Form 1-->
              <div class="col-lg-8 col-md-8" *ngIf="form1 === true">
                <div class="card form-card">
                  <h5 class="form-head text-center">Register Now To Apply</h5>
                  
                  <form [formGroup]="RegistrationFrom1">
                    <div class="form-div">
                      <div class="row">
                        <div class="form-group col-lg-3 col-md-3 col-sm-6">
                          <div class="input-group">
                            <div class="input-group-text bg-transparent icon">
                              <i class="fa fa-user"></i>
                            </div>
                            <input
                              class="form-control py-2 border-right-0 border form-input"
                              type="text"
                              placeholder="Full Name*"
                              id="name"
                              formControlName="cCandidateName"
                            />
                          </div>
                          <div *ngIf="m['cCandidateName'].touched && m['cCandidateName'].invalid" class="validation">
                            <div *ngIf="m['cCandidateName'].errors['required']">Please Enter Full Name</div>
                          </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-6">
                          <div class="input-group">
                            <div class="input-group-text bg-transparent icon">
                              <i class="fa fa-envelope"></i>
                            </div>
                            <input
                              class="form-control py-2 border-right-0 border form-input"
                              type="text"
                              placeholder="Email Address*"
                              id="email"
                              formControlName="cEmail"
                            />
                          </div>
                          <div *ngIf="m['cEmail'].touched && m['cEmail'].invalid" class="validation">
                            <div *ngIf="m['cEmail'].errors['required']">Please enter email address</div>
                            <div *ngIf="m['cEmail'].errors['pattern']">Please enter valid email address</div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6" id="phone">
                          <div class="input-group">
                            <div class="input-group-text bg-transparent icon">
                              <i class="fa fa-phone flip"></i>
                            </div>
                            <input
                              class="form-control py-2 border-right-0 border form-input"
                              type="number"
                              step="0.01"
                              placeholder="Mobile Number*"
                              id="number"
                              formControlName="cMobile"
                            />
                          </div>
                          <div *ngIf="m['cMobile'].touched && m['cMobile'].invalid" class="validation">
                            <div *ngIf="m['cMobile'].errors['required']">Please enter mobile number</div>
                            <div *ngIf="m['cMobile'].errors['pattern']">Mobile number is not 10 digit</div>
                          </div>
                        </div>
  
                        <div class="col-lg-2 col-md-2 col-sm-2">
                          <button
                            type="button"
                            class="btn submit"
                            [disabled]="!RegistrationFrom1.valid"
                            (click)="submitForm1()"
                          >
                            SUBMIT
                          </button>
                          
                        </div>
                      </div>
                    </div>
                    
                    
                        
                  </form>
                </div>
              </div>
        
              <div class="col-12 vh-50 d-flex justify-content-center align-items-center" *ngIf="form2 === true" id="thankyouform">
                <div>
                    <div class="mb-4 text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75"
                            fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                    </div>
                    <div class="text-center">
                        <h1>Thank You !</h1>
                        <p>Your submission has bees sent. </p>
                    </div>
                </div>
                </div>
              </div>
              </div>
              </div>
</section>
<app-chat></app-chat>
<app-footer></app-footer>