<section class="blog-content">
  <div class="blog-content-banner">
    <div class="col-lg-12">
      <div class="blog-content-page-header text-center">
        <h1 class="white-text-2" >{{h1Title | titlecase}}</h1>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="blog-content-page-breadcrumb text-center">
        <a href="" routerLink="" class="home">
          <img
            src="../../assets/img/services_page/Our_Services/Home.png"
            alt=""
            class="home-img"
          />
        </a>
        <a href="" class="arrow">
          <img
            src="../../assets/img/services_page/Our_Services/Arrow.png"
            alt=""
            class="arrow-img"
          />
        </a>
        <a href="" routerLink="/blog/." class="service-link">
          <h5 class="white-text-2 blog-title">Blog</h5>
        </a>
        <a href="" class="arrow">
          <img
            src="../../assets/img/services_page/Our_Services/Arrow.png"
            alt=""
            class="arrow-img"
          />
        </a>
        <a href="" routerLink="" class="service-link">
          <h5 class="white-text-2">{{blogsData.title | titlecase}}</h5>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="blog-content-div">
      <div class="row row-without-gutter">
        <div class="col-lg-8 col-12">
          <div class="blog-img">
            <div class="row">
              <img
                src={{blogsData.blogimg}}
                alt=""
              />
            </div>
          </div>
          <div class="blog-details">
            <div class="row row-without-gutter">
              <div class="col-lg-3 col-8 col-sm-6">
                <div class="flex-holder blog-info">
                  <img
                    src="../../assets/img/Blog_Content_Icons/7.Bhavesh/Posted-by.png"
                    alt=""
                    width="20"
                  />
                  <p class="mb-0">Bhavesh Nimodiya</p>
                </div>
              </div>
              <div class="col-lg-3 col-4 col-sm-6">
                <div class="flex-holder blog-info"id="medical">
                  <img
                    src="../../assets/img/Blog_Content_Icons/8.Medical/Medical.png"
                    alt=""
                    width="20"
                  />
                  <p class="mb-0">Medical</p>
                </div>
              </div>
              <div class="col-lg-3 col-8 col-sm-6">
                <div class="flex-holder blog-info">
                  <img
                    src="../../assets/img/Blog_Content_Icons/9.Min_Read/Timer.png"
                    alt=""
                    width="20"
                  />
                  <p class="mb-0">6 Minute Read</p>
                </div>
              </div>
              <div class="col-lg-3 col-4 col-sm-6" id="medical">
                <div class="flex-holder">
                  <img
                    src="../../assets/img/Blog_Content_Icons/10.Share/Share.png"
                    alt=""
                    width="20"
                  />
                  <p class="mb-0 cursor-pointer" (click)="showBasicDialog()">Share</p>

                  <p-dialog header="Share" [(visible)]="displayBasic" [baseZIndex]="10000" id="social-share-dialog"
                  [responsive]="true" [transitionOptions]="'0ms'" [modal]="true" [dismissableMask]="true">
                  <!--[style]="{ width: '20vw' }" -->
                  <a href="https://api.whatsapp.com/send?text={{ posturl }}" target="_blank">
                    <img src="../../assets/img/whatsapp.png" alt="" class="social-icon" />
                  </a>
                  <a href="https://www.facebook.com/sharer.php?u={{ posturl }}" target="_blank">
                    <img src="../../assets/img/facebook1.png" alt="" class="social-icon" />
                  </a>
                  <a href="https://pinterest.com/pin/create/bookmarklet/?media=[post-img]&url={{
                      posturl
                    }}&is_video=[is_video]&description=[post-title]" target="_blank">
                    <img src="../../assets/img/interest.png" alt="" class="social-icon" />
                  </a>
                  <a href="https://twitter.com/share?url={{
                      posturl
                    }}&text=[post-title]&via=[via]&hashtags=[hashtags]" target="_blank">
                    <img src="../../assets/img/tw.png" alt="" class="social-icon" />
                  </a>
                  <a href="https://www.linkedin.com/shareArticle?url={{
                      posturl
                    }}" target="_blank">
                    <img src="../../assets/img/linked.png" alt="" class="social-icon" />
                  </a>
                  <!-- <share-buttons theme="circles-dark"
                                       [include]="['copy', 'facebook', 'email', 'messenger', 'mix', 'line', 'linkedin', 'pinterest', 'print', 'reddit', 'sms', 'telegram', 'tumblr', 'twitter', 'viber', 'vk', 'xing', 'whatsapp']"
                                       [showIcon]="true"
                                       [showText]="false"
                                       url="https://rodrigo.kamada.com.br/"
                                       description="Angular Share Buttons"
                                       twitterAccount="rodrigokamada"
                                       class="pt-5">
                                     </share-buttons> -->
                </p-dialog>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-text">
            <div class="row row-without-gutter">
              <div class="content">
                <div
                  class="row row-without-gutter relative-row"
                  *ngFor="let item of blogsData.data"
                >
                  <!-- {{item.title}} -->
                  <div *ngIf="item.type == 'text'">
                    <h2 class="size" [innerHTML]="item.title"></h2>
                    <div
                      class="tab-text"
                      [ngClass]="{ limitTextHeight: isReadMore }"
                    >
                    <p style="font-weight:bold;" [innerHTML]="item.info"></p>
                      <p [innerHTML]="item.data"></p>
                    </div>

                    <!--<div class="shade" *ngIf="isShade && item.seeMoreBtn"></div>
                    <div
                      class="row text-center p-relative"
                      *ngIf="item.seeMoreBtn"
                    >
                      <button
                        type="button"
                        (click)="showText()"
                        class="read-more-btn btn"
                      >
                        {{ isReadMore ? "See More" : "See Less" }}
                      </button>
                    </div>-->
                  </div>

                  <div
                    class="row row-without-gutter"
                    *ngIf="item.type === 'faq-list'"
                  >
                    <p-accordion
                      [multiple]="false"
                      id="faq-collapse"
                      expandIcon="pi pi-plus"
                      collapseIcon="pi pi-minus"
                    >
                      <div class="col-lg-12 text-center">
                        <h2 class="light-blue-text">{{ item.title }}</h2>
                      </div>
                      <p *ngFor="let qna of item.data">
                        <p-accordionTab
                          header="{{ qna.ques }}"
                          [selected]="false"
                          class="accordionTab"
                        >
                          <p>{{ qna.ans }}</p>
                        </p-accordionTab>
                      </p>
                    </p-accordion>
                  </div>
                  <div id="quick" #quick></div>

                  <div class="col-12" *ngIf="item.type == 'table'">
                    <h2  class="size" [innerHTML]="item.title"></h2>
                    <p style="font-weight:bold;" [innerHTML]="item.info"></p>
                    <p [innerHTML]="item.textBelowInfo"></p>
                    <table
                      class="table text-center table-hover table-responsive w-100 d-md-table"
                      id="quick-table"
                    >
                      <thead>
                        <tr>
                          <th *ngFor="let TableItems of item.col">
                            {{ TableItems }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let Tableitem of item.row">
                          <td *ngFor="let TableItems of item.col" [innerHTML]="Tableitem[TableItems]">
                            <!-- {{ Tableitem[TableItems] }} -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p [innerHTML]="item.heading"></p>
                  </div>
                  <div
                    class="container-fluid"
                    *ngIf="item.type == 'nested-table'"
                  >
                    <h2  class="size" [innerHTML]="item.title"></h2>
                    <p style="font-weight:bold;" [innerHTML]="item.info"></p>
                    <p [innerHTML]="item.textBelowInfo"></p>
                    <table
                      cellspacing="0"
                      cellpadding="0"
                      class="table text-center table-hover table-responsive w-100 d-md-table"
                    >
                      <tr>
                        <th rowspan="2">State</th>
                        <th colspan="2">Fit under Section 12(B)?</th>
                        <th rowspan="2">Total Universities</th>
                      </tr>
                      <tr>
                        <th>Yes</th>
                        <th>No</th>
                      </tr>
                      <tr *ngFor="let tdata of item.Data">
                        <td>{{ tdata.state }}</td>
                        <td>{{ tdata.yes }}</td>
                        <td>{{ tdata.no }}</td>
                        <td>{{ tdata.total }}</td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-12" *ngIf="item.type == 'table-title'">
                    <h2  class="size" [innerHTML]="item.title"></h2>
                    <p style="font-weight:bold;" [innerHTML]="item.info"></p>
                    <p [innerHTML]="item.textBelowInfo"></p>
                    <div class="row" *ngIf="item.colTitle">
                      <div class="col-lg-12">
                        <div class="text-center light-bg-blue">
                          <h6 class="white-text py-2 mb-0">
                            {{ item.colTitle }}
                          </h6>
                        </div>
                      </div>
                    </div>
                    <table
                      class="table text-center table-hover table-responsive w-100 d-md-table"
                      id="quick-table" 
                    >
                      <thead>
                        <tr>
                          <th *ngFor="let TableItems of item.col">
                            {{ TableItems }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let Tableitem of item.row">
                          <td *ngFor="let Tableitems of Tableitem">
                            <p [innerHTML]="Tableitems"></p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p [innerHTML]="item.heading"></p>
                  </div>

                  <div class="col-12" *ngIf="item.type == 'list-bollet'">
                    <h2  class="size" [innerHTML]="item.title"></h2>
                    <p style="font-weight:bold;" [innerHTML]="item.info"></p>
                    <p [innerHTML]="item.textBelowInfo"></p>
                    <ul class="cust-padding">
                      <li *ngFor="let Listitem of item.data"><p [innerHTML]="Listitem"></p></li>
                    </ul>
                  </div>

                  <div class="col-12" *ngIf="item.type == 'number-list'">
                    <h2  class="size" [innerHTML]="item.title"></h2>
                    <p style="font-weight:bold;" [innerHTML]="item.info"></p>
                    <p [innerHTML]="item.textBelowInfo"></p>

                    <ol style="margin-bottom: 0px; " type="1">
                      <li *ngFor="let numbetList of item.data">
                        <a>
                          <p [innerHTML]="numbetList"></p>
                        </a>
                      </li>
                    </ol>
                  </div>

                  <div class="col-12" *ngIf="item.type == 'step-list'">
                    <h2  class="size" [innerHTML]="item.title"></h2>
                    <p style="font-weight:bold;" [innerHTML]="item.info"></p>
                    <p [innerHTML]="item.textBelowInfo"></p>

                    <ol
                      style="margin-bottom: 0px"
                      type="1"
                      *ngFor="let numbetList of item.data"
                    >
                    <a>
                      <p [innerHTML]="numbetList"></p>
                    </a>
                    </ol>
                  </div>
                  <div *ngIf="item.type == 'img'">
                    <img
                      [src]="item.data"
                      alt=""
                      class="review-img custome-img"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <!-- <div class="row row-without-gutter">
            <div class="search">
              <form class="blog-form" action="">
                <input
                  type="text"
                  placeholder="Search Keyword"
                  name="email"
                  class="blog-search-text-box"
                />
                <button type="submit" class="blog-search-btn">
                  <img
                    src="../../assets/img/Blog_Content_Icons/3.Search/Search.png"
                    width="20"
                  />
                </button>
              </form>
            </div>
          </div> -->
          <div class="row row-without-gutter sectionMobHide">
            <div class="card latest-post-card mt-2">
              <div class="card-header">
                <h4>Latest Post</h4>
              </div>
              <div class="card-body">
                <div class="row cust-spacing" *ngFor="let item of latestBlog" >
                  <div class="col-lg-6 col-sm-6 service-card-text" [routerLink]="['/blog/'+item.url]">
                    <img
                      src={{item.blogimg}}
                      alt=""
                      class="latest-blog-img"
                    />
                  </div>
                  <div class="col-lg-6 col-sm-6 service-card-text" [routerLink]="['/blog/'+item.url]">
                    <h5 class="latest-blog-title">
                      {{item.title}}
                    </h5>
                    <div class="flex-holder">
                      <img
                        src="../../assets/img/Blog_Content_Icons/4.Latest Post/Timer.png"
                        alt=""
                        width="20"
                      />
                      <p class="mb-0">5 Minute Read</p>
                    </div>
                  </div>
                </div>
<!-- 
                <div class="row cust-spacing">
                  <div class="col-lg-6 col-sm-6">
                    <img
                      src="../../assets/img/Blog_Main_Icons/l.png"
                      alt=""
                      class="latest-blog-img"
                    />
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <h5 class="latest-blog-title">
                      CLAT 2022 Provisional Merit List I Will Be Released
                      Tomorrow
                    </h5>
                    <div class="flex-holder">
                      <img
                        src="../../assets/img/Blog_Content_Icons/4.Latest Post/Timer.png"
                        alt=""
                        width="20"
                      />
                      <p class="mb-0">7 Minute Read</p>
                    </div>
                  </div>
                </div> -->

                <!-- <div class="row cust-spacing">
                  <div class="col-lg-6 col-sm-6">
                    <img
                      src="../../assets/img/Blog_Main_Icons/j.png"
                      alt=""
                      class="latest-blog-img"
                    />
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <h5 class="latest-blog-title">
                      HPBOSE 10th Result 2022 Released: 87.5% Students Passed,
                    </h5>
                    <div class="flex-holder">
                      <img
                        src="../../assets/img/Blog_Content_Icons/4.Latest Post/Timer.png"
                        alt=""
                        width="20"
                      />
                      <p class="mb-0">5 Minute Read</p>
                    </div>
                  </div>
                </div>
                <div class="row cust-spacing">
                  <div class="col-lg-6 col-sm-6">
                    <img
                      src="../../assets/img/Blog_Main_Icons/l.png"
                      alt=""
                      class="latest-blog-img"
                    />
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <h5 class="latest-blog-title">
                      CLAT 2022 Provisional Merit List I Will Be Released
                      Tomorrow
                    </h5>
                    <div class="flex-holder">
                      <img
                        src="../../assets/img/Blog_Content_Icons/4.Latest Post/Timer.png"
                        alt=""
                        width="20"
                      />
                      <p class="mb-0">7 Minute Read</p>
                    </div>
                  </div>
                </div>
                <div class="row cust-spacing">
                  <div class="col-lg-6 col-sm-6">
                    <img
                      src="../../assets/img/Blog_Main_Icons/j.png"
                      alt=""
                      class="latest-blog-img"
                    />
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <h5 class="latest-blog-title">
                      HPBOSE 10th Result 2022 Released: 87.5% Students Passed,
                    </h5>
                    <div class="flex-holder">
                      <img
                        src="../../assets/img/Blog_Content_Icons/4.Latest Post/Timer.png"
                        alt=""
                        width="20"
                      />
                      <p class="mb-0">5 Minute Read</p>
                    </div>
                  </div>
                </div>
                <div class="row cust-spacing">
                  <div class="col-lg-6 col-sm-6">
                    <img
                      src="../../assets/img/Blog_Main_Icons/l.png"
                      alt=""
                      class="latest-blog-img"
                    />
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <h5 class="latest-blog-title">
                      CLAT 2022 Provisional Merit List I Will Be Released
                      Tomorrow
                    </h5>
                    <div class="flex-holder">
                      <img
                        src="../../assets/img/Blog_Content_Icons/4.Latest Post/Timer.png"
                        alt=""
                        width="20"
                      />
                      <p class="mb-0">7 Minute Read</p>
                    </div>
                  </div>
                </div>
                <div class="row cust-spacing">
                  <div class="col-lg-6 col-sm-6">
                    <img
                      src="../../assets/img/Blog_Main_Icons/j.png"
                      alt=""
                      class="latest-blog-img"
                    />
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <h5 class="latest-blog-title">
                      HPBOSE 10th Result 2022 Released: 87.5% Students Passed,
                    </h5>
                    <div class="flex-holder">
                      <img
                        src="../../assets/img/Blog_Content_Icons/4.Latest Post/Timer.png"
                        alt=""
                        width="20"
                      />
                      <p class="mb-0">5 Minute Read</p>
                    </div>
                  </div>
                </div>
                <div class="row cust-spacing">
                  <div class="col-lg-6 col-sm-6">
                    <img
                      src="../../assets/img/Blog_Main_Icons/l.png"
                      alt=""
                      class="latest-blog-img"
                    />
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <h5 class="latest-blog-title">
                      CLAT 2022 Provisional Merit List I Will Be Released
                      Tomorrow
                    </h5>
                    <div class="flex-holder">
                      <img
                        src="../../assets/img/Blog_Content_Icons/4.Latest Post/Timer.png"
                        alt=""
                        width="20"
                      />
                      <p class="mb-0">7 Minute Read</p>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="row row-without-gutter sectionMobHide">
            <div class="card category-card mt-4">
              <div class="card-header">
                <h4>Categories</h4>
              </div>
              <div class="card-body">
                <div
                  class="row border-bottom mb-2 pb-2"
                  *ngFor="let cat of data"
                >
                  <div class="col-lg-6 service-card-text" [routerLink]="['/blog/category/' + cat[0].Categories + '/.']">
                    <div class="flex-holder">
                      <img
                        src="../../assets/img/Blog_Content_Icons/5.Category/Dropdown.png"
                        alt=""
                        width="10"
                      />
                      <p>{{ cat[0].Categories.replaceAll('-', ' ') | titlecase  }}</p>
                    </div>
                  </div>
                  <div class="col-lg-6 text-right">
                    <h6 class="mb-0">{{ cat.length }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form col-12">
    
            <div class="container">
              <!-- Left Card -->
              <div class="row" id="row">
                
          
                <!-- Right Card Form 1-->
                <div class="col-lg-8 col-md-8" *ngIf="form1 === true">
                  <div class="card form-card">
                    <h5 class="form-head text-center">Register Now To Apply</h5>
                    
                    <form [formGroup]="RegistrationFrom1">
                      <div class="form-div">
                        <div class="row">
                          <div class="form-group col-lg-12 col-md-12 col-sm-6">
                            <div class="input-group">
                              <div class="input-group-text bg-transparent icon">
                                <i class="fa fa-user"></i>
                              </div>
                              <input
                                class="form-control py-2 border-right-0 border form-input"
                                type="text"
                                placeholder="Full Name*"
                                id="name"
                                formControlName="cCandidateName"
                              />
                            </div>
                            <div *ngIf="m['cCandidateName'].touched && m['cCandidateName'].invalid" class="validation">
                              <div *ngIf="m['cCandidateName'].errors['required']">Please Enter Full Name</div>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-6">
                            <div class="input-group">
                              <div class="input-group-text bg-transparent icon">
                                <i class="fa fa-envelope"></i>
                              </div>
                              <input
                                class="form-control py-2 border-right-0 border form-input"
                                type="text"
                                placeholder="Email Address*"
                                id="email"
                                formControlName="cEmail"
                              />
                            </div>
                            <div *ngIf="m['cEmail'].touched && m['cEmail'].invalid" class="validation">
                              <div *ngIf="m['cEmail'].errors['required']">Please enter email address</div>
                              <div *ngIf="m['cEmail'].errors['pattern']">Please enter valid email address</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-div">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-6" id="phone">
                            <div class="input-group">
                              <div class="input-group-text bg-transparent icon">
                                <i class="fa fa-phone flip"></i>
                              </div>
                              <input
                                class="form-control py-2 border-right-0 border form-input"
                                type="number"
                                step="0.01"
                                placeholder="Mobile Number*"
                                id="number"
                                formControlName="cMobile"
                              />
                            </div>
                            <div *ngIf="m['cMobile'].touched && m['cMobile'].invalid" class="validation">
                              <div *ngIf="m['cMobile'].errors['required']">Please enter mobile number</div>
                              <div *ngIf="m['cMobile'].errors['pattern']">Mobile number is not 10 digit</div>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                      <div class="form-div" id="form-div2">
                        <div class="row">
                          
                          
                          <div class="terms">
                            <p>
                              By submitting this form, you accept and agree to our<span
                                style="color: cornflowerblue"
                              >
                                Terms of use
                              </span>
                            </p>
                          </div>
                          <div class="row">
                            <!-- <div class="col-lg-10 col-md-10 col-sm-10 login-block">
                              Already Registered? Click Here To Login.
                            </div> -->
                            <div class="col-lg-2 col-md-2 col-sm-2">
                              <button
                                type="button"
                                class="btn submit"
                                [disabled]="!RegistrationFrom1.valid"
                                (click)="submitForm1()"
                              >
                                SUBMIT
                              </button>
                              
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
          
                <div class="col-12 vh-50 d-flex justify-content-center align-items-center" *ngIf="form2 === true" id="thankyouform">
                  <div>
                      <div class="mb-4 text-center">
                          <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75"
                              fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                              <path
                                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                          </svg>
                      </div>
                      <div class="text-center">
                          <h1>Thank You !</h1>
                          <p>Your submission has bees sent. </p>
                      </div>
                  </div>
                  </div>
              </div> 
            </div>
        </div>
        
          <div class="row row-without-gutter sectionMobHide">
            <div class="card follow-us-card mt-4">
              <div class="card-header">
                <h4>Follow Us</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-2 col-2 border-right text-center">
                    <a href="https://www.instagram.com/selectyouruniversity/" target="_blank"><img
                      class="social-img"
                      src="../../assets/img/Blog_Content_Icons/6.Follow Us/Instagram.png"
                      alt=""
                      width="40"
                    /></a>
                  </div>
                  <div class="col-lg-2 col-2 border-right text-center">
                    <a href="https://youtube.com/c/SelectYourUniversity" target="_blank"><img
                      class="social-img"
                      src="../../assets/img/Blog_Content_Icons/6.Follow Us/You-Tube.png"
                      alt=""
                      width="40"
                    /></a>
                  </div>
                  <div class="col-lg-2 col-2 border-right text-center">
                    <a href="https://api.whatsapp.com/send?phone=+919555120101%20&text=I%20want%20to%20apply%20for%20the%20current%20intake%20of%20UG/PG%20courses%20in%20India%20or%20Abroad" target="_blank"><img
                      class="social-img"
                      src="../../assets/img/Blog_Content_Icons/6.Follow Us/Whatsapp.png"
                      alt=""
                      width="40"
                    /></a>
                  </div>
                  <div class="col-lg-2 col-2 border-right text-center">
                    <a href="https://www.facebook.com/SelectyouruniversityIndia/" target="_blank"><img
                      class="social-img"
                      src="../../assets/img/Blog_Content_Icons/6.Follow Us/Facebook.png"
                      alt=""
                      width="40"
                    /></a>
                  </div>
                  <div class="col-lg-2 col-2 border-right text-center">
                    <a href="https://in.pinterest.com/selectyouruniversity/" target="_blank"><img
                      class="social-img"
                      src="../../assets/img/Blog_Content_Icons/6.Follow Us/Pinterest.png"
                      alt=""
                      width="40"
                    /></a>
                  </div>
                  <div class="col-lg-2 col-2 text-center">
                    <a href="https://t.me/selectyouruniversity1" target="_blank"><img
                      class="social-img"
                      src="../../assets/img/Blog_Content_Icons/6.Follow Us/Telegram.png"
                      alt=""
                      width="40"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-chat></app-chat>
<app-footer></app-footer>
